@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}

<h2>About</h2>
<p>
     Put content here.
</p>

        <a href="@Url.Action("Parameter")">Parameter</a> <a href="javascript:void(0)" onclick="t2v_AdminSet.updateFirstMonthBalance()">
            UpdateLastBalance</a>
