@using Newtonsoft.Json
@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
<script src="@Url.Content("~/Scripts/T2VBusiness/CampDetail/t2v-CampDetail.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/T2VBusiness/CampDetail/t2v-CampDetailAng.js")" type="text/javascript"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=uofKCFZ42dto1pTurdaS08SW"></script>

<div class="container" id="ng-value" ng-controller="CampDetailCtrl">
		<h1 class="tit1">听风营地</h1>
        <div class="detail-con clear">
        	<div class="detail-left">
                @*<div id="slider" class="flexslider2">
                  <ul class="slides">
                    <li ng-repeat="campphoto in camp.ModelListcampphoto"><img src="../../UploadImg/Camp/{{campphoto.CampPhoteFile}}"/></li>
                  </ul>
                </div>
                <div id="carousel" class="flexslider2">
                  <ul class="slides">
                    <li ng-repeat="campphoto in camp.ModelListcampphoto"><img src="../../UploadImg/Camp/{{campphoto.CampPhoteFile}}"/></li>
                  </ul>
                </div>*@
                <div class="flexslider2">
                    <ul class="slides">
                        <li ng-repeat="campphoto in camp.ModelListcampphoto"><img src="../../UploadImg/Camp/{{campphoto.CampPhoteFile}}"/></li>
                       
                    </ul>
                </div>
                <div class="more-con">
                	<h2><img src="../../Content/images/h2_1.png"/></h2>
                    <div class="scrollPic-con">
                    	<a href="#" class="more-link">查看全部相片</a>
                        <a href="javascript:void(0)" class="pic-btn" id="left_but">左</a>
                        <a href="javascript:void(0)" class="pic-btn" id="right_but">右</a>
                        <ul id="pic">
                            <li><a href="#"><img src="../../Content/images/more_img1.jpg"/></a></li>
                            <li><a href="#"><img src="../../Content/images/more_img2.jpg"/></a></li>
                            <li><a href="#"><img src="../../Content/images/more_img3.jpg"/></a></li>
                            <li><a href="#"><img src="../../Content/images/more_img4.jpg"/></a></li>
                            <li><a href="#"><img src="../../Content/images/more_img5.jpg"/></a></li>
                            <li><a href="#"><img src="../../Content/images/more_img6.jpg"/></a></li>
                          
                        
                        </ul>
                    </div>
                </div>
                <div class="tab-con">
                	<div class="tab-nav clear"><a href="javascript:void(0)" class="crr">描述</a><a href="javascript:void(0)">营地类型</a><a href="javascript:void(0)">营地地图</a><a href="javascript:void(0)" style="margin-right:0">地图</a></div>
                    <div class="tab-box">
                    	<div class="tab-p">
                        	<p>{{camp.CampIntro}}</p>
                        </div>
                        <div class="tab-p" style="display:none">
                        	<p>
                                <text ng-repeat="camptype in camp.ModelListcamptype">
                                    {{camptype.CampTypeName}},
                                </text>
                        	</p>
                        </div>
                        <div class="tab-p" style="display:none">
                        	<img style="width:100%;height:100%" src="../../UploadImg/Camp/{{camp.CampPic}}"/>
                        </div>
                        <div id="allmap" class="tab-p" style="display:none">
                        </div>
                    </div>
                </div>
                <div class="comment-con">
                	<h2>用户评论</h2>
                    <div class="comment-list">
                    	<ul>
                        	<li class="clear" ng-repeat="campcom in camp.ModelListcampcomment">
                            	<div class="cl-left">
                                	<a href="#"><img src="../../Content/images/u_img1.png"/></a>
                                </div>
                                <div class="cl-right">
                                	<strong>{{campcom.UserName}}</strong>
                                    <em>{{campcom.CommentTime|  date:'yyyy年MM月dd日 mm:ss'}}</em>
                                    <p>{{campcom.CommentCon}}</p>
                                    回复<p>{{campcom.CommentRes}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="ck-comment" name="box2">
                    	<a href="#">查看更多评论&gt;&gt;&gt;</a>
                    </div>
                    <div class="textarea-con">
                    	<a name="box2"></a>
                    	<textarea>Message</textarea>
                        <a href="#" class="f-btn">发布评论</a>
                    </div>
                </div>
            </div>
            <div class="detail-right">
            	<div class="price">
                	<div class="x-bg-con"><div style="width:25%"></div></div><!--百分比调整星级-->
                    <h1>听风编号:{{camp.CampNum}}<strong>{{camp.CampName}}</strong></h1>
                    @*<h2>Tianmu lake mountain and water garden</h2>*@
                    <div class="rmb">￥:{{camp.PilePrice}}</div>
                    @*<div class="through">原价￥：600</div>*@
                    <div class="tf-ts">
                    	<h3>听风特色</h3>
                        <div class="tf-ts-con">
                            <span ng-repeat="campitem in camp.ModelListcampitem">
                        	    <img title="{{campitem.CampItemName}}" src="../../Content/images/{{campitem.CampItemIcon}}"/>
                            </span>
                        </div>
                        <div class="pr-submit clear">
                        	<a ng-click="ShowPileScreen();" style="margin-right:36px;">在线预定</a><a ng-click="CampCollect();" style="">收藏保存</a>
                        </div>
                    </div>
                    <div class="yz_introduction">
                    	<h3>听风营长介绍</h3>
                        <div class="yz-img">
                        	<img src="../../UploadImg/Camp/{{camp.ModelListcamphost[0].CampHostPhoto}}"/>
                        </div>
                        <div class="yz-con">
                        	<div class="yz-nav">
                            	<a href="#">营长介绍</a>
                            </div>
                            <div class="yz-txt">
                            	<p>{{camp.ModelListcamphost[0].CampHostIntro}}</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div id="divSelPile" class="modal hide">
        <div class="modal-header" style="background-color:#9E9500;">
            <div style="text-align: left; font-weight:bold;">
                <button type="button" style="float: right" class="DeleteLine" data-dismiss="modal">
                    &nbsp;
                </button>
                <span style="font-size:18px;">选择桩号 &nbsp;&nbsp;&nbsp;</span>
            </div>
        </div>
        <div id="divSelPileContent">
            <div style="width:95%;height:95%;" >
                <span ng-repeat="camppile in camp.ModelListcamppile">
                    <input type="button" value="{{camppile.PileNumber}}" ng-disabled="!camppile.Flag" ng-click="LinkToCampBook(camppile.PileID);" />
                </span>    
            </div>
        </div>
    </div>
    </div>


<script>
$(document).ready(function(){
    scr1();
	
	t2v_CampDetail.CampInfo = @Html.Raw(JsonConvert.SerializeObject(ViewBag.CampInfo));

	angular.element(document).ready(function () {
	    angular.bootstrap($('body'), ['SO']);
	    $('.flexslider2').flexslider({
	        animation: "slide",
	        directionNav: true,
	        pauseOnAction: false,
	        slideshow: true,
	        slideshowSpeed: 5000,
	    });

	    
	    //$('#carousel').flexslider({
	    //    animation: "slide",
	    //    controlNav: false,
	    //    animationLoop: false,
	    //    slideshow: false,
	    //    itemWidth: 210,
	    //    itemMargin: 5,
	    //    asNavFor: '#slider'
	    //});

	    //$('#slider').flexslider({
	    //    animation: "slide",
	    //    controlNav: false,
	    //    animationLoop: false,
	    //    slideshow: false,
	    //    sync: "#carousel",
	    //    start: function(slider){
	    //    }
	    //});
	});
})
function scr1(){
	scrollPic_01 = new ScrollPic();
	scrollPic_01.scrollContId = "pic"; //图片容器ID
	scrollPic_01.arrLeftId = "left_but"; //左按钮ID
	scrollPic_01.arrRightId = "right_but"; //右按钮ID
	scrollPic_01.frameWidth = 532; //图片容器宽度
	scrollPic_01.pageWidth = 133; //每张图片宽度
	scrollPic_01.speed = 10; //移动速度(单位毫秒，越小越快)
	scrollPic_01.space = 10; //每次移动像素(单位px，越大越快)
	scrollPic_01.autoPlay = false; //自动播放
	scrollPic_01.autoPlayTime = 3; //自动播放间隔时间(秒)
	scrollPic_01.initialize(); //初始化
}
</script>
