@using Newtonsoft.Json
@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
@section head{
    <script src="@Url.Content("~/Scripts/T2VBusiness/RMA/t2v-CampDetail.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/T2VBusiness/RMA/t2v-CampDetailAng.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            t2v_CampDetail.CampInfo = @Html.Raw(JsonConvert.SerializeObject(ViewBag.CampInfo));

            angular.element(document).ready(function () {
                angular.bootstrap($('body'), ['SO']);
            });
        });
    </script>
}
<div class="container">
		<h1 class="tit1">听风营地</h1>
        <div class="detail-con clear">
        	<div class="detail-left">
                <div class="flexslider2">
                    <ul class="slides">
                        <li><a href="#"><img src="../../Content/images/d_bn1.jpg"/></a></li>
                        <li><a href="#"><img src="../../Content/images/d_bn2.jpg"/></a></li>
                        <li><a href="#"><img src="../../Content/images/d_bn3.jpg"/></a></li>
                        <li><a href="#"><img src="../../Content/images/d_bn4.jpg"/></a></li>
                    </ul>
                </div>
                <div class="more-con">
                	<h2><img src="../../Content/images/h2_1.png"/></h2>
                    <div class="scrollPic-con">
                    	<a href="#" class="more-link">查看全部相片</a>
                        <a href="javascript:void(0)" class="pic-btn" id="left_but">左</a>
                        <a href="javascript:void(0)" class="pic-btn" id="right_but">右</a>
                        <ul id="pic">
                            <li><a href="#"><img src="../../Content/images/more_img1.jpg"/></a></li>
                            <li><a href="#"><img src="../../Content/images/more_img2.jpg"/></a></li>
                            <li><a href="#"><img src="../../Content/images/more_img3.jpg"/></a></li>
                            <li><a href="#"><img src="../../Content/images/more_img4.jpg"/></a></li>
                            <li><a href="#"><img src="../../Content/images/more_img5.jpg"/></a></li>
                            <li><a href="#"><img src="../../Content/images/more_img6.jpg"/></a></li>
                          
                        
                        </ul>
                    </div>
                </div>
                <div class="tab-con">
                	<div class="tab-nav clear"><a href="javascript:void(0)" class="crr">描述</a><a href="javascript:void(0)">便利设施</a><a href="javascript:void(0)">日历</a><a href="javascript:void(0)" style="margin-right:0">地图</a></div>
                    <div class="tab-box">
                    	<div class="tab-p">
                        	<p>天目湖山水园景区是国家A天目湖山水园景区是国家A天目湖山水园景区是国家A天目湖山水园景区是国家A天目湖山水园景区是国家A天目湖山水园景区是国家A天目湖山水园景区是国家A天目湖山水园景区是国家A天目湖山水园景区是国家A天目湖山水园景区是国家A天目湖山水园景区是国家A天目湖山水园景区是国家A</p>
                            <div class="xin-pp">
                            	<a href="#" class="xin">1205</a><a href="#box2" class="pp">1205</a>
                            </div>
                        </div>
                        <div class="tab-p" style="display:none">
                        	<p>便利设施</p>
                            <div class="xin-pp">
                            	<a href="#" class="xin">1205</a><a href="javascript:void(0)" class="pp">1205</a>
                            </div>
                        </div>
                        <div class="tab-p" style="display:none">
                        	<p>日历</p>
                            <div class="xin-pp">
                            	<a href="#" class="xin">1205</a><a href="javascript:void(0)" class="pp">1205</a>
                            </div>
                        </div>
                        <div class="tab-p" style="display:none">
                        	<p>地图</p>
                            <div class="xin-pp">
                            	<a href="#" class="xin">1205</a><a href="javascript:void(0)" class="pp">1205</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-con">
                	<h2>用户评论</h2>
                    <div class="comment-list">
                    	<ul>
                        	<li class="clear">
                            	<a href="#" class="reply-btn">回复</a>
                            	<div class="cl-left">
                                	<a href="#"><img src="../../Content/images/u_img1.png"/></a>
                                </div>
                                <div class="cl-right">
                                	<strong>Admin</strong>
                                    <em>2014年9月30日<i>15.30</i></em>
                                    <p>价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵</p>
                                </div>
                            </li>
                            <li class="clear">
                            	<div class="cl-left">
                                	<a href="#"><img src="../../Content/images/u_img1.png"/></a>
                                </div>
                                <div class="cl-right">
                                	<strong>Admin</strong>
                                    <em>2014年9月30日<i>15.30</i></em>
                                    <p>价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价</p>
                                </div>
                            </li>
                            <li class="clear">
                            	<div class="cl-left">
                                	<a href="#"><img src="../../Content/images/u_img1.png"/></a>
                                </div>
                                <div class="cl-right">
                                	<strong>Admin</strong>
                                    <em>2014年9月30日<i>15.30</i></em>
                                    <p>价格有点贵价格有点贵价格有点贵价格有点贵价格有点贵价</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="ck-comment" name="box2">
                    	<a href="#">查看更多评论&gt;&gt;&gt;</a>
                    </div>
                    <div class="textarea-con">
                    	<a name="box2"></a>
                    	<textarea>Message</textarea>
                        <a href="#" class="f-btn">发布评论</a>
                    </div>
                </div>
            </div>
            <div class="detail-right">
            	<div class="price">
                	<div class="x-bg-con"><div style="width:25%"></div></div><!--百分比调整星级-->
                    <h1>听风编号:108<strong>天目湖山水园</strong></h1>
                    <h2>Tianmu lake mountain and water garden</h2>
                    <div class="rmb">￥:300.00</div>
                    <div class="through">原价￥：600</div>
                    <div class="tf-ts">
                    	<h3>听风特色</h3>
                        <div class="tf-ts-con">
                        	<a href="#"><img src="../../Content/images/ts_icon1.jpg"/></a><a href="#"><img src="../../Content/images/ts_icon2.jpg"/></a><a href="#"><img src="../../Content/images/ts_icon2.jpg"/></a><a href="#"><img src="../../Content/images/ts_icon2.jpg"/></a><a href="#"><img src="../../Content/images/ts_icon2.jpg"/></a><a href="#"><img src="../../Content/images/ts_icon2.jpg"/></a>
                        </div>
                        <div class="pr-submit clear">
                        	<a href="#" style="margin-right:36px;">在线预定</a><a href="#" style="">收藏保存</a>
                        </div>
                    </div>
                    <div class="yz_introduction">
                    	<h3>听风营长介绍</h3>
                        <div class="yz-img">
                        	<img src="../../Content/images/yz_img1.jpg"/>
                        </div>
                        <div class="yz-con">
                        	<div class="yz-nav">
                            	<a href="#">营长介绍</a>
                            </div>
                            <div class="yz-txt">
                            	<p>第三款经典塑料袋盛大锦书定量宽松基调圣诞节塑料袋嘉实多速度是</p>
                                <div class="xin-pp">
                            		<a class="xin" href="#">1205</a><a class="pp" href="#">1205</a>
                            	</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
	scr1();
	$('.flexslider2').flexslider({
		animation: "slide",
		directionNav: true,
		pauseOnAction: false,
		slideshow: true,                
		slideshowSpeed: 5000,           
	});
})
function scr1(){
	scrollPic_01 = new ScrollPic();
	scrollPic_01.scrollContId = "pic"; //图片容器ID
	scrollPic_01.arrLeftId = "left_but"; //左按钮ID
	scrollPic_01.arrRightId = "right_but"; //右按钮ID
	scrollPic_01.frameWidth = 532; //图片容器宽度
	scrollPic_01.pageWidth = 133; //每张图片宽度
	scrollPic_01.speed = 10; //移动速度(单位毫秒，越小越快)
	scrollPic_01.space = 10; //每次移动像素(单位px，越大越快)
	scrollPic_01.autoPlay = false; //自动播放
	scrollPic_01.autoPlayTime = 3; //自动播放间隔时间(秒)
	scrollPic_01.initialize(); //初始化
}
</script>
