@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
    <div class="container">
		<h1 class="tit4">在线预订</h1>
        <div class="detail-con clear">
            <div class="detail-left detail-lr clear">
                <div class="flexslider3">
                    <ul class="slides">
                        <li><a href="#"><img src="../../Content/images/d_bn1.jpg"/></a></li>
                        <li><a href="#"><img src="../../Content/images/d_bn2.jpg"/></a></li>
                        <li><a href="#"><img src="../../Content/images/d_bn3.jpg"/></a></li>
                        <li><a href="#"><img src="../../Content/images/d_bn4.jpg"/></a></li>
                    </ul>
                </div>
                <div class="detail-right">
                    <div class="price">
                        <div class="x-bg-con"><div style="width:25%"></div></div><!--百分比调整星级-->
                        <h1>听风编号:108<strong>天目湖山水园</strong></h1>
                        <h2>Tianmu lake mountain and water garden</h2>
                        <div class="rmb">￥:300.00</div>
                        <div class="through">原价￥：600</div>
                        <div class="tf-ts ">
                            <h3>听风特色</h3>
                            <div class="tf-ts-con">
                                <a href="#"><img src="../../Content/images/ts_icon1.jpg"/></a><a href="#"><img src="../../Content/images/ts_icon2.jpg"/></a><a href="#"><img src="../../Content/images/ts_icon2.jpg"/></a><a href="#"><img src="../../Content/images/ts_icon2.jpg"/></a><a href="#"><img src="../../Content/images/ts_icon2.jpg"/></a><a href="#"><img src="../../Content/images/ts_icon2.jpg"/></a>
                            </div>
                        </div>
                    </div>
                 </div>
             </div>
             <div class="detail-left detail-lr clear">
             	<h2 class="h-tit1">填写客户信息</h2>
                <div class="book-con">
                	<h3>客户信息</h3>
                    <div class="book-txt clear">
                    	<ul class="cw">
                        	<li class="clear">
                            	<span>登 录 邮 箱：ado****14@hotmail.com</span><a class="or" href="#">修改邮箱</a>
                            </li>
                            <li class="clear">
                            	<span>手 机 号 码： 138****8879<a class="dengl" href="#">更换号码</a></span><a class="or" href="#">解绑手机</a>
                            </li>
                            <li class="clear">
                            	<span>上 次 登 录： 2014年09月19日 12:25:20</span><a class="or" href="#">(不是您登录的？请点击这里)</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <h2 class="h-tit2">可选入住信息</h2>
                <div class="auto-kal" data-kal="months: 3, direction: 'future'"></div>
                <h2 class="h-tit3">便利设施选择</h2>
                 <div class="book-con">
                	<h3></h3>
                    <div class="book-list clear">
                    	<div class="book-left">
                        	<ul>
                            	<li class="rd rdc">
                                	<span>WIFI</span>
                                </li>
                                <li class="rd rdc">
                                	<span>早餐</span>
                                </li>
                                <li class="w">
                                	<span>垂钓</span>
                                </li>
                                <li class="rd rdc">
                                	<span>烧烤器具</span>
                                </li>
                                <li class="rd rdc">
                                	<span>儿童乐园</span>
                                </li>
                                <li class="w">
                                	<span>著名景点</span>
                                </li>
                                <li class="rd rdc">
                                	<span>洗衣机</span>
                                </li>
                                <li class="rd rdc">
                                	<span>允许携带宠物</span>
                                </li>
                                <li class="rd rdc">
                                	<span>草莓园</span>
                                </li>
                                <li class="w">
                                	<span>西瓜园</span>
                                </li>
                                <li class="rd rdc">
                                	<span>桃园</span>
                                </li>
                                <li class="w">
                                	<span>油菜花园</span>
                                </li>
                                <li class="rd rdc">
                                	<span>现代农场</span>
                                </li>
                                <li class="w">
                                	<span>有机农产品供给</span>
                                </li>
                                <li class="rd rdc">
                                	<span>E4E自行车</span>
                                </li>
                            </ul>
                        </div>
                        <div class="book-right">
                        	<div class="br-top">
                            	便利设施:<a href="#">更多相关自选&gt;&gt;&gt;</a>
                            </div>
                            <ul>
                            	<li class="rd rdc">
                                	<span>烧烤器具：</span><em>烤肉架：￥100;</em><em>烤肉架：￥100;</em><em>烤肉架：￥100;</em>
                                </li>
                                <li class="rd rdc">
                                	<span>水果园：</span><em>草莓：￥100;</em><em>草莓：￥100;</em><em>草莓：￥100;</em>
                                </li>
                                 <li class="rd rdc">
                                	<span>水果园：</span><em>草莓：￥100;</em><em>草莓：￥100;</em><em>草莓：￥100;</em>
                                </li>
                                <li>
                                	<textarea>输入你需求备注：</textarea>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
             </div>
         </div>
    </div>
</div>


