@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
@using Newtonsoft.Json

<div class="container clear" id="ng-value" ng-controller="CampListCtrl">
    <div class="choice-left">
        <div class="ch-list">
            <div class="ch-top">
                <h2>旅程安排</h2>
                <a href="#" class="kq">开启关闭</a>
            </div>
            <div class="ch-con">
                <div class="input-select clear">
                    <div class="sel-fl">
                        <label>城市:</label>
                        <div class="select-bg">
                            <select ng-model="myCity" ng-options="city.CityName for city in hi" style="color:#333">
                                <option style="display:none; color:gray" value="" disabled selected>请选择城市</option>

                            </select>
                        </div>
                    </div>
                    <div class="sel-fl">
                        <label>地区:</label>
                        <div class="select-bg">
                            <select ng-model="myLoc" ng-options="lo.LocationName for lo in myCity.Locations" required style="color:#333">
                                <option style="display:none; color:gray" value="" disabled selected>请选择地区</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="input-select clear">
                    <div class="sel-fl">
                        <label>入营时间:</label>
                        <div class="select-bg">
                            <input type="text" id="datepicker1" class="datepicker" ng-model="searchInfo.JoinCampDate" placeholder="请选择城市"/>
                        </div>
                    </div>
                    <div class="sel-fl">
                        <label>营地等级:</label>
                        <div class="select-bg">
                            <select ng-model="myLOD" ng-options="lo.DataName for lo in basicdata | filter: 'camplod'" style="color:#333">
                                <option style="display:none; color:gray" value="" disabled selected>请选择营地等级</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ch-list">
            <div class="ch-top">
                <h2>价格区间</h2>
                <a href="javascript:;" class="kq">开启关闭</a>
            </div>
            <div class="ch-con">
                <div class="slider-txt">
                    <p style="margin-bottom: 10px">
                        <input type="text" id="amount" readonly style="border: 0; color: #2f3443; background: none; font-size: 12px" />
                    </p>
                    <div id="slider-range" style="height: 9px; width: 294px"></div>
                </div>
            </div>
        </div>
        <div class="ch-list">
            <div class="ch-top">
                <h2>特色内容</h2>
                <a href="javascript:;" class="kq">开启关闭</a>
            </div>
            <div class="ch-con" style="padding: 14px 0 0 12px">
                <ul class="dxuan clear">
                    <li ng-repeat="info in basicdata | filter: 'campitem'">
                        <input type="checkbox" class="campitem" selValue="{{info.BasicDataCollectID}}" />{{ info.DataName }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="ch-list">
            <div class="ch-top">
                <h2>营地类型</h2>
                <a href="javascript:;" class="kq">开启关闭</a>
            </div>
            <div class="ch-con" style="padding: 14px 0 0 12px">
                <ul class="dxuan clear">
                    <li ng-repeat="info in basicdata | filter: 'camptype'">
                        <input type="checkbox" class="camptype" selValue="{{info.BasicDataCollectID}}" />{{ info.DataName }}
                    </li>
                </ul>

            </div>
        </div>
        <div class="ch-list">
            <div class="ch-top">
                <h2>营地类型</h2>
                <a href="javascript:;" class="kq">开启关闭</a>
            </div>
            <div class="ch-con" style="padding:14px 0 0 12px">
                <ul class="dxuan clear">
                    <li ng-repeat="info in basicdata | filter: 'hostlang'">
                        <input type="checkbox" class="hostlang" selValue="{{info.BasicDataCollectID}}" />{{ info.DataName }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="search_ft">
            <input type="text" ng-model="obj.searchInfo.KeyContent" value="请输入您要搜索的关键字" />
            <a href="#" ng-click="Search()">搜索</a>
        </div>
    </div>
    <div class="choice-right">
        <ul class="chl-list">
            <li ng-repeat="info in cp">
                <div class="chl-img">
                    <img src="../../UploadImg/Camp/{{info.CampPhoto}}" />
                </div>
                <h2>{{ info.CampName }}</h2>
                <div class="chl-jg clear">
                    <h3 >￥:{{info.PilePrice}}</h3>
                    <div class="x-bg-con" ng-bind-html="info.CampLevel | toCampLevel">

                    </div>
                </div>
                <div class="chl-txt">
                    <span ng-bind="info.CampIntro | ellipsis15" title="{{info.CampIntro}}"></span>
                </div>
                <div class="chl-icon clear">
                    <a href="#" ng-repeat="campitem in info.Listcampitem | orderBy:predicate">
                        <img title="{{campitem.CampItemName}}" style="width:16px; height:16px" ng-show="$index < 3" src="../../Content/images/{{campitem.CampItemIcon}}" />
                    </a>
                </div>
                <div class="chl-avt">
                    <img src="../../Content/images/avt.png" />
                </div>
                <a href="/Home/CampDetail?CampID={{info.CampID}}&&dt={{searchInfo.JoinCampDate}}" class="chl-btn">查看更多信息</a>
            </li>
        </ul>
        <div style='text-align: center; padding:100px; border:1px solid #D9D9D9; background-color:#f8f8f8;' ng-show="cp.length == 0"><span style='font-family: Verdana; font-size: 20px; font-weight: bold; color: #666'>没有结果</span></div>
        <p id="page"></p>
    </div>
</div>
<script type="text/javascript">
    t2v_HomeIndex.lstInfo = @Html.Raw(JsonConvert.SerializeObject(ViewBag.lstInfo));
    t2v_HomeIndex.hiInfo = @Html.Raw(JsonConvert.SerializeObject(ViewBag.CityInfo));
    t2v_HomeIndex.bdInfo = @Html.Raw(JsonConvert.SerializeObject(ViewBag.BasicData));
    angular.element(document).ready(function () {
        angular.bootstrap($('body'), ['SO']);
    });
</script>
