@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
<div style="font-size:14px; font-weight:bold; font-family:Verdana; padding:0 30px;">
    <br />
    <br />
    <div style="padding:30px 15px; background-color:#ffffff; border:1px solid #dbdbdb;">
        Welcome to HDS.
    </div>
</div>
