@using Newtonsoft.Json
@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
<script src="@Url.Content("~/Scripts/T2VBusiness/ApprovalCamp/ApprovalCamp.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/T2VBusiness/ApprovalCamp/ApprovalCamp_Ang.js")" type="text/javascript"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=uofKCFZ42dto1pTurdaS08SW"></script>
<div class="container" id="ng-value" ng-controller="ApprovalCampEditCtrl">
    <h1 class="tit1">听风营地</h1>
    <div class="detail-con clear">
        <div class="detail-left">
            <div class="clear">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="width:30px">&nbsp;</td>
                        <td>
                            <div id="fine-uploader-left" style="float:left; width:140px; height:30px; overflow:hidden"></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="campphoto in camp.ModelListcampphoto">
                        <td style="vertical-align:top">
                            <input type="radio" name="campPhoto" value="{{campphoto.CampPhoteFile}}" ng-model="camp.CampPhoto" /> &nbsp;
                        </td>
                        <td>
                            <img ng-show="campphoto.CampPhotoID > 0" src="../../UploadImg/Camp/{{campphoto.CampPhoteFile}}" style="width:140px; height:95px; border:1px solid #999" />
                            <img ng-hide="campphoto.CampPhotoID > 0" src="../../UploadImg/TempFile/{{campphoto.CampPhoteFile}}" style="width:140px; height:95px; border:1px solid #999" />
                        </td>
                        <td style="vertical-align:top; padding:0 0 0 10px">
                            <a href="javascript:void(0)" style="width:120px;height:31px; background:#2f3443; font-size:14px; color:#fff; text-align:center; line-height:31px; font-size:12px; font-weight:bold; display:block" ng-click="RemoveCampPhoto($index)">删 除</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-con">
                <div class="tab-nav clear"><a href="javascript:void(0)" class="crr">描述</a><a href="javascript:void(0)">营地类型</a><a href="javascript:void(0)">听风桩位置</a><a href="javascript:void(0)" style="margin-right: 0">营地位置</a></div>
                <div class="tab-box">
                    <div class="tab-p">
                        <p><textarea ng-model="camp.CampIntro" class="inputtext02" style="width:99%" rows="10"></textarea></p>
                    </div>
                    <div class="tab-p" style="display: none">
                        <ul>
                            <li ng-repeat="camptype in camp.ModelListcamptype" style="float:left; width:130px">
                                <input type="checkbox" ng-model="camptype.Checked" />&nbsp; &nbsp; &nbsp;
                                <span ng-bind="camptype.CampTypeName"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-p" style="display: none">
                        <div id="fine-uploader-left1" style="float:left; width:140px; height:30px; overflow:hidden"></div>
                        <img ng-show="camp.CampPic.length > 0" style="width: 530px; height: 330px; overflow: hidden" src="../../UploadImg/Camp/{{camp.CampPic}}" />
                    </div>
                    <div id="allmap" class="tab-p" style="display: none">
                        经度： <input type="text" ng-model="camp.Latitude" class="inputtext02" />&nbsp; 
                        纬度： <input type="text" ng-model="camp.Longitude" class="inputtext02" />
                    </div>
                </div>
            </div>
            <div class="comment-con">
                <h2><a ng-click="ShowMoreCommenScreen();">用户评论</a></h2>
            </div>
        </div>
        <div class="detail-right">
            <div class="ApprovalBtns">
                <input type="button" value="保 &nbsp; 存" ng-click="SaveApprovalCamp('saveBy2')" /> &nbsp;
                <input type="button" value="提 &nbsp; 交" ng-click="SaveApprovalCamp('submitBy2')" /> &nbsp;
                <input type="button" value="取 &nbsp; 消" ng-click="CancelApprovalCamp()" />
            </div>
            <div class="price">
                <h2 style="margin-bottom: 15px;">听风编号:{{camp.CampNum}}<strong><input type="text" ng-model="camp.CampName" class="inputtext02" style="width:120px" /></strong></h2>
                <h2>营地等级
                    <select ng-model="camp.CampLOD">
                        <option value="初级">初级</option>
                        <option value="高级">高级</option>
                        <option value="豪华">豪华</option>
                    </select></h2>
                <div class="rmb" style="line-height: 200%; font-size:12px">
                    ￥:<input type="text" ng-model="camp.PilePrice" class="inputtext02" style="width:60px" /></div>
                <div class="tf-ts" style="padding: 15px 0 10px">
                    <h3 style="line-height: 24px;">听风特色</h3>
                    <div class="tf-ts-con clear">
                        <ul>
                            <li ng-repeat="campitem in camp.ModelListcampitem">
                                <input type="checkbox" ng-model="campitem.Checked" /><span ng-bind="campitem.CampItemName"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="pr-submit clear">
                        <a ng-click="ShowPileScreen();" style="margin-right:12px; background:#2f3443">桩-管理</a> &nbsp; &nbsp; 
                        <a ng-click="ShowPilePriceScreen();" style="background:#2f3443">桩-单价管理</a>
                    </div>
                </div>
                <div class="yz_introduction">
                    <h3>听风营主介绍</h3>
                    <div class="yz-img">
                        <div id="fine-uploader-left3" style="float:left; width:140px; height:30px; overflow:hidden"></div>
                        <img ng-show="camp.ModelListcamphost[0].CampHostPhoto.length > 0" src="../../UploadImg/Camp/{{camp.ModelListcamphost[0].CampHostPhoto}}" />
                    </div>
                    <div class="yz-con">
                        <div class="yz-nav">
                            <a href="javascript:void(0)">营主介绍</a> &nbsp; &nbsp; <a href="javascript:void(0)" ng-click="ShowCampHostLanguage()">营主语言管理</a>
                        </div>
                        <div class="yz-txt">
                            <p><textarea ng-model="camp.ModelListcamphost[0].CampHostIntro"></textarea></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divCampHostLanguage" class="modal hide">
        <div class="modal-header" style="background-color: #9E9500;">
            <div style="text-align: left; font-weight: bold;">
                <button type="button" style="float: right; padding: 0 10px" class="DeleteLine" data-dismiss="modal">
                    X
                </button>
                <span style="font-size: 18px;">营主语言管理 &nbsp;&nbsp;&nbsp;</span>
            </div>
        </div>
        <div id="divCampHostLanguageContent">
            <div style="width: 780px; height: 350px; overflow: auto; padding: 5px">
                <div class="g_ds_list clear" style="width:100%">
                    <ul>
                        <li class="clear" ng-repeat="campprice in camp.ModelListcampprice">
                            &nbsp;
                        </li>
                    </ul>
                </div>
            </div>
            <div style="padding:5px">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td>营主语言</td>
                        <td>
                            <select ng-model="CampHostLanguage.Language">
                                <option></option>
                                <option></option>
                                <option></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" style="width:70px; padding:3px 0; background-color:#f3f3f3; border:1px solid #e3e3e3" value="添 加" ng-click="AddCampHostLanguage()" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="divSelPilePrice" class="modal hide">
        <div class="modal-header" style="background-color: #9E9500;">
            <div style="text-align: left; font-weight: bold;">
                <button type="button" style="float: right; padding: 0 10px" class="DeleteLine" data-dismiss="modal">
                    X
                </button>
                <span style="font-size: 18px;">管理桩单价 &nbsp;&nbsp;&nbsp;</span>
            </div>
        </div>
        <div id="divSelPilePriceContent">
            <div style="width: 780px; height: 350px; overflow: auto; padding: 5px">
                <div class="g_ds_list clear" style="width:100%">
                    <ul>
                        <li class="clear" ng-repeat="campprice in camp.ModelListcampprice">
                            <div class="g_ls_img">
                                <img src="../../UploadImg/Camp/{{campprice.ItemImage}}" style="width:80px; height:80px;" alt=""/>
                            </div>
                            <div class="g_ls_right">
                                <div class="g_ls_tit">{{campprice.ItemName}}</div>
                            </div>
                            <div class="g_ls_sl">
                                <span>单位：{{campprice.ItemUnit}}</span>
                                <span>单价：{{campprice.ItemPrice}}</span>
                                <a href="javascript:void(0)" ng-click="RemoveCampPilePrice($index)">X</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="padding:5px">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td>项目名称</td>
                        <td><input type="text" ng-model="CampPilePrice.ItemName" class="inputtext02" /></td>
                        <td>图片</td>
                        <td rowspan="3">
                            <div id="fine-uploader-left2" style="height:32px; overflow:hidden"></div>
                            <img src="../../UploadImg/Camp/{{CampPilePrice.ItemImage}}" style="width:80px; height:80px;" alt=""/>
                        </td>
                    </tr>
                    <tr>
                        <td>单位</td>
                        <td><input type="text" ng-model="CampPilePrice.ItemUnit" class="inputtext02" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>单价</td>
                        <td><input type="text" ng-model="CampPilePrice.ItemPrice" class="inputtext02" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <input type="button" style="width:70px; padding:3px 0; background-color:#f3f3f3; border:1px solid #e3e3e3" value="添 加" ng-click="AddCampPilePrice()" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="divSelPile" class="modal hide">
        <div class="modal-header" style="background-color: #9E9500;">
            <div style="text-align: left; font-weight: bold;">
                <button type="button" style="float: right; padding: 0 10px" class="DeleteLine" data-dismiss="modal">
                    X
                </button>
                <span style="font-size: 18px;">管理桩 &nbsp;&nbsp;&nbsp;</span>
            </div>
        </div>
        <div id="divSelPileContent">
            <div style="width: 780px; height: 300px; overflow: hidden; padding: 5px">
                <div ng-repeat="camppile in camp.ModelListcamppile" style="float:left; width:130px; margin-bottom:5px">
                    <input type="button" value="{{camppile.PileNumber}}" style="width:115px; padding:7px 0; background-color:#f3f3f3; border:1px solid #e3e3e3" />
                    <a href="javascript:void(0)" style="color:#000" ng-hide="camppile.Flag" ng-click="RemoveCampPile($index)"> X </a>
                </div>
            </div>
            <div>
                添加新桩：
                <input type="text" maxlength="50" ng-model="PileNumber" /> &nbsp; 
                <input type="button" style="width:70px; padding:3px 0; background-color:#f3f3f3; border:1px solid #e3e3e3" value="添 加" ng-click="AddCampPile()" />
            </div>
        </div>
    </div>
    <div id="divMoreCommenScreen" class="modal hide">
        <div class="modal-header" style="background-color: #9E9500;">
            <div style="text-align: left; font-weight: bold;">
                <button type="button" style="float: right; padding: 0 10px" class="DeleteLine" data-dismiss="modal">
                    X
                </button>
                <span style="font-size: 18px;">评论 &nbsp;&nbsp;</span>
            </div>
        </div>
        <div id="divMoreCommenContent">
            <div style="width: 750px; height: 330px; overflow: hidden; padding: 5px" class="comment-con">
                <div class="comment-list" style="overflow:auto; height:300px;">
                    <ul>
                        <li class="clear" ng-repeat="campcom in camp.ModelListcampcomment">
                            <div class="cl-left">
                                <a href="#">
                                    <img src="../../Content/images/u_img1.png" /></a>
                            </div>
                            <div class="cl-right">
                                <a href="javascript:void(0)" ng-click="deleteComment($index)" style="display:block; float:right">X</a>
                                <strong>{{campcom.UserName}}</strong>
                                <em>{{campcom.CommentTime|  date:'yyyy年MM月dd日 hh:mm'}}</em>
                                <p>{{campcom.CommentCon}}</p>
                                <div class="replay">
                                    <textarea style="width:98%; height:30px" ng-model="campcom.CommentRes"></textarea>
                                    <br />
                                    <a href="javascript:void(0)" ng-click="CommentUpdateRecord(campcom)">回复</a> &nbsp; &nbsp;
                                    <a href="javascript:void(0)" ng-show="campcom.CommentRes.length > 0" ng-click="CommentDeleteRes(campcom)">X</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        ApprovalCamp.CampInfo = @Html.Raw(JsonConvert.SerializeObject(ViewBag.CampInfo));
        angular.element(document).ready(function () {
            angular.bootstrap($('body'), ['SO']);
        });
        $(".tab-nav a").click(function(){
            var index = $(".tab-nav a").index(this);
            $(this).addClass("crr").siblings().removeClass("crr")
            $(".tab-box > div").eq(index).show().siblings().hide();
			
        });
    })
</script>