@using Newtonsoft.Json
@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
<div class="container">
    <h1 class="tit1">个人信息</h1>
    <div class="w890 clear">
        <div class="info-left">
            <div class="user-link">
                <h2>链接</h2>
                <ul>
                    <li><a href="#">营地管理</a></li>
                    <!-- 添加crr选中-->
                </ul>
            </div>
        </div>
        <div class="info-right">
            <div class="f_dd_cet clear g_dd_cet" style="background-color:#fff; margin-bottom:20px; width:642px;">
                <div class="f_dd_lt">
                    <ul>
                        <li>
                            <div class="f_dd_lt_top clear">
                                <div class="f_dd_tit" style="width:565px">
                                    <div class="f_dd_lt_con">
                                        <span>营地编号： 123123123</span>
                                    </div>
                                </div>
                                <button class="f_btns">营地详情</button>
                            </div>
                            <div class="f_dd_lt_sw clear">
                                <div class="f_sw_left">
                                    <img src="../../UploadImg/Camp/d_bn1.jpg" />
                                </div>
                                <div class="f_sw_right">
                                    <div class="f_sw_tit">
                                        <span>营地编号 ：123123123</span>
                                        <div class="f_sw_state">状态：拒绝</div>
                                    </div>
                                    <div class="f_sw_time clear">
                                        <span>拒绝原因：</span> 拒绝原因拒绝原因拒绝原因拒绝原因拒绝原因拒绝原因拒绝原因拒绝原
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="f_dd_lt_top clear">
                                <div class="f_dd_tit" style="width:565px">
                                    <div class="f_dd_lt_con">
                                        <span>营地编号： 123123</span>
                                    </div>
                                </div>
                                <button class="f_btns">营地详情</button>
                            </div>
                            <div class="f_dd_lt_sw clear">
                                <div class="f_sw_left">
                                    <img src="../../UploadImg/Camp/d_bn2.jpg" />
                                </div>
                                <div class="f_sw_right">
                                    <div class="f_sw_tit">
                                        <span>营地编号 ：123123123</span>
                                        <div class="f_sw_state">状态：待审批</div>
                                    </div>
                                    <div class="f_sw_time clear">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li style="border-bottom:0px">
                            <div class="page_con" style="width:210px">
                        	    &nbsp;共1记录 1/1页 <div class="last">上一页</div><div class="next">下一页</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
