@using Newtonsoft.Json
@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
<script src="@Url.Content("~/Scripts/T2VBusiness/User/UserCollect.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/T2VBusiness/User/UserCollectAng.js")" type="text/javascript"></script>
<div class="container" ng-controller="UserManagementCtrl">
    <h1 class="tit1">个人信息</h1>
    <div class="w890 clear">
        <div class="info-left">
            <div class="user-link">
                <h2>链接</h2>
                <ul>
                    <li><a href="/User/UserManagement">用户管理</a></li>
                    <li><a href="/User/AssignManager">分配营地管理员</a></li>
                    <!-- 添加crr选中-->
                </ul>
            </div>
        </div>
        <div class="info-right">
            <div class="f_dd_cet clear g_dd_cet" style="background-color: #fff; margin-bottom: 20px; width: 642px;">
                <li>
                    <a href="/User/Edit?UserID=0">
                        <button class="f_btns">创建用户</button>
                    </a>
                </li>
                <div class="f_dd_lt">
                    <ul>
                        <li ng-repeat="c in userList">
                            <div class="f_dd_lt_top clear">
                                <div class="f_dd_tit" style="width: 545px">
                                    <div class="f_dd_lt_con">
                                        <span>用户名： {{c.UserName}}</span>
                                    </div>
                                </div>
                                 <a href="javascript:void(0)">
                                    <button class="f_btns" ng-click="deleteUser($index)">删除用户</button>
                                </a>
                                <a href="javascript:void(0)" ng-show="c.IDNumberFlag == 0 && currentUser.IDNumberImg1 != null && currentUser.IDNumberImg2 != null">
                                    <button class="f_btns" ng-click="validateUser($index)">验证用户</button>
                                </a>
                                <a href="/User/Edit?UserID={{c.UserID}}">
                                    <button class="f_btns">编辑用户</button>
                                </a>
                            </div>
                            <div class="f_dd_lt_sw clear">
                                <div class="f_sw_left">
                                    <img ng-src="../../UploadImg/User/{{c.HeadPhoto}}" />
                                </div>
                                <div class="f_sw_right">
                                    <div class="f_sw_tit">
                                        <span>邮箱：{{c.Email}}</span><span>姓名：{{c.Name}}</span>
                                        <br />
                                        <span>用户类别 : {{c.UserTypeShow}}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li style="border-bottom: 0px">
                            <div class="page_con" style="width: 210px">
                                &nbsp;共{{totalRecord}}记录 {{currentPage}}/{{totalPages}}页 
                                <div class="last">
                                    <a href="javascript:void(0)" ng-click="prevPage()">上一页</a>
                                </div>
                                <div class="next">
                                    <a href="javascript:void(0)" ng-click="nextPage()">下一页</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <br />
        </div>
    </div>
        <div id="divValidateUser" class="modal hide">
        <div class="modal-header" style="background-color: #9E9500;">
            <div style="text-align: left; font-weight: bold;">
                <button type="button" style="float: right; padding: 0 10px" class="DeleteLine" data-dismiss="modal">
                    X
                </button>
                <span style="font-size: 18px;">验证用户 &nbsp;&nbsp;</span>
            </div>
        </div>
        <div class="show">
            <div class="f_avt_img_con clear" style="padding-left:30px">
                <strong>手持身份证照片：</strong>
                <div class="f_avt_img_btn">
                    <div class="f_avt_img_top">
                        {{currentUser.IDNumberImg1}}
                        <img ng-src="../../UploadImg/User/{{currentUser.IDNumberImg1}}" style="width: 170px; height: 130px" ng-show="currentUser.IDNumberImg1 != null" />
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="f_avt_img_con clear" style="padding-left:30px">
                <strong>正面身份证照片：</strong>
                <div class="f_avt_img_btn">
                    <div class="f_avt_img_top">
                        <img ng-src="../../UploadImg/User/{{currentUser.IDNumberImg2}}" style="width: 170px; height: 130px" ng-show="currentUser.IDNumberImg2 != null" />
                    </div>
                </div>
            </div>
            <div style="text-align:center">
                        <input type="button" class="f_btns" ng-click="passValidate(currentUser.UserID)" value="通过验证"/>
           </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    angular.element(document).ready(function () {
        angular.bootstrap($('body'), ['SO']);
    });
</script>
