<div id="ng-value" ng-controller="CampSammaryCtrl">
    <div class="f_dd_qx clear" data-ng-show="booked.length > 0">
        <div class='f_dd_qx_ck {{checkedall}}' data-ng-click="checkall()">全选</div>
        <button class="f_btns" ng-click="payall()">合并付款</button><div class="g_hb">合计付款金额：<em>{{totalAmt}}</em></div>
    </div>
    <div class="f_dd_lt">
        <ul>
            <li ng-repeat="reserve in booked">
                <div class="f_dd_lt_top clear">
                    <div class="f_dd_tit">
                        <div class="csk {{reserve.Choosed}}" data-ng-click="checkmyself(reserve)"></div>
                        <div class="f_dd_lt_con">
                            <span>订单编号：{{reserve.ordernumber}}</span><span>下单时间：{{reserve.CreateOn}}</span>
                            <a href="#" class="g_qx" data-ng-click="deleteReserve(reserve.CampReserveID)">取消订单</a>
                        </div>
                    </div>
                    <button class="f_btns" data-ng-click="showDetail(reserve)">订单详情</button>
                </div>
                <div class="f_dd_lt_sw clear">
                    <div class="f_sw_left">
                        <img src="../../UploadImg/Camp/{{reserve.campInfo.CampPhoto}}" />
                    </div>
                    <div class="f_sw_right">
                        <div class="f_sw_tit">
                            <span>听风编号{{reserve.campInfo.CampId}}：{{reserve.campInfo.CampName}}:{{reserve.campInfo.PileNumber}}</span><span>合计金额：￥{{reserve.TotalAmt}}</span>
                            <div class="f_sw_state">支付状态：待付款</div>
                        </div>
                        <div class="f_sw_time clear">
                            <span ng-bind="reserve.campInfo.CampIntro | ellipsis15" title="{{reserve.campInfo.CampIntro}}"></span>

                        </div>
                    </div>
                </div>
                <button class="f_btns f_btns_pos">订单支付</button>


            </li>
        </ul>
    </div>
    <div id="divOrderDetail" class="modal hide">
        <div class="modal-header" style="background-color: #9E9500;">
            <div style="text-align: left; font-weight: bold;">
                <button type="button" style="float: right; padding: 0 10px" class="DeleteLine" data-dismiss="modal">
                    X
                </button>
                <span style="font-size: 18px;">订单详情 &nbsp;&nbsp;</span>
            </div>
        </div>
        <div>
            <div style="width: 750px; height: 330px; overflow: hidden; padding: 5px; margin:0 auto;" class="comment-con">
                <div class="comment-list" style="overflow: auto; overflow-x:hidden; height: 300px;">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td style="width:272px">
                                <div style="width:270px; height:170px; overflow:hidden">
                                    <img src="../../UploadImg/Camp/{{currentreserve.campInfo.CampPhoto}}" alt="" style="width:270px" />
                                </div>
                            </td>
                            <td style="vertical-align:top; padding:2px 10px;">
                                <h1 style="margin-bottom: 15px; font-size:18px; color:#000">听风营名:&nbsp; <strong>{{currentreserve.campInfo.CampName}}</strong></h1>
                                <h1 style="margin-bottom: 15px; font-size:18px; color:#000">营内桩号:&nbsp; <strong>{{currentreserve.campInfo.PileNumber}}</strong></h1>
                                <h1 style="margin-bottom: 15px; font-size:18px; color:#000">选桩日起:&nbsp; <strong data-ng-repeat="dt in currentreserve.Listcampreservedate">
                                    {{dt.CampReserveDateForDisplay}} &nbsp; </strong></h1>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <h2 class="h-tit3">便利设施选择</h2>
                    <div class="clear orderdetail" data-ng-repeat="att in currentreserve.Listcampreserveatt">
                        <b>{{att.CampItemName}}:</b>&nbsp; &nbsp; 
                        <b>价格:</b> {{att.CampItemUnitPrice}}&nbsp; &nbsp; 
                        <b>数量:</b> {{att.Qty}}&nbsp; &nbsp; 
                        <b>总金额:</b> {{att.CampItemPriceAmt}}<br />
                    </div>
                    <div style="text-align:right; border-top:1px solid #ddd; padding-top:3px; margin-top:5px;">
                        <b>听风营地合计：</b> {{currentreserve.PilePriceAmt}}
                        <br />
                        <b>总价合计：</b> {{currentreserve.TotalAmt}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    angular.element(document).ready(function () {
        angular.bootstrap($('body'), ['SO']);
        var $scope = angular.element($("#ng-value")[0]).scope();
        $scope.getAllBooked();
    });
</script>
