@using Newtonsoft.Json
@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
<script src="@Url.Content("~/Scripts/T2VBusiness/Camp/CampOrderSammary.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/T2VBusiness/CampDetail/t2v-CampDetail.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/T2VBusiness/User/UserCollect.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/T2VBusiness/User/UserCollectAng.js")" type="text/javascript"></script>
<div class="container">
    <h1 class="tit3">个人信息</h1>
    <div class="w890 clear">
        <div class="info-left">
            <div class="user-top">
                <div class="user-avt">
                    <img src="../../Content/images/avt1.jpg" />
                </div>
                <h2>听风用户名</h2>
                <div class="f_sh">
                    风客身份
                </div>
                <div class="user-btn">
                    <a href="javascript:void(0)" class="user-btn" onclick="t2v_CampOrders.showUserHeaderImg()">头像修改</a>
                </div>
                <div class="user-btn">
                    <a href="javascript:void(0)" class="user-btn" onclick="t2v_CampOrders.showUserCollect()">我的收藏</a>
                </div>

            </div>
            <div class="user-ver">
                <h2>验证项</h2>
                <ul>
                    <li class="crr"><span id="ver1">风客身份证已验证</span></li>
                    <li class="crr"><span id="ver2">听风客身份未验证</span></li>
                    <li><span id="ver3">听风贵宾身份未验证</span></li>
                    <!-- 添加crr选中-->
                </ul>
            </div>
            <div class="user-link">
                <h2>快速链接</h2>
                <ul>
                    <li><a href="#">我的点评</a></li>
                    <li><a href="#">听风指南</a></li>
                    <li><a href="#">其他预留</a></li>
                    <!-- 添加crr选中-->
                </ul>
            </div>
        </div>
        <div class="info-right">
            <div class="info-nav">
                <a href="#" id="nav1" class="current">我的订单</a><a href="javascript:void(0)" id="nav2" onclick="t2v_CampOrders.showUserInfo()">个人资料</a><a href="javascript:void(0)" id="nav3" onclick="t2v_CampOrders.showUserUserIntegral()">我的积分</a>
            </div>
            <div id="divUserContent">
                <div class="f_dd_tab">
                    <div class="f_dd_tab_bg">
                        <ul>
                            <li><a href="javascript:void(0)" id="unpiadlink" class="crr" onclick="t2v_CampOrders.showUnpaid()">待付款</a></li>
                            <li><a href="javascript:void(0)" id="paidlink" class="" onclick="t2v_CampOrders.showPaid()">已付款</a></li>
                            <li><a href="javascript:void(0)" id="copletedlink" class="" onclick="t2v_CampOrders.showCompleted()">已完成</a></li>
                        </ul>
                    </div>
                </div>
                <div class="f_dd_cet clear g_dd_cet" id="divContent">

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        t2v_CampOrders.showUnpaid();
    });
</script>
