<div id="ng-value" ng-controller="CampSammaryCtrl">
    <div class="f_dd_qx clear">
        <div class='f_dd_qx_ck {{checkedall}}' data-ng-click="checkall()">全选</div>
        <button class="f_btns" ng-click="payall()">合并付款</button><div class="g_hb">合计付款金额：<em>{{totalAmt}}</em></div>
    </div>
    <div class="f_dd_lt">
        <ul>
            <li ng-repeat="reserve in booked">
                <div class="f_dd_lt_top clear">
                    <div class="f_dd_tit">
                        <div class="csk {{reserve.Choosed}}" data-ng-click="checkmyself(reserve)"></div>
                        <div class="f_dd_lt_con">
                            <span>订单编号：{{reserve.ordernumber}}</span><span>下单时间：{{reserve.CreateOn}}</span>
                            <a href="#" class="g_qx" data-ng-click="deleteReserve(reserve.CampReserveID)">取消订单</a>
                        </div>
                    </div>
                    <button class="f_btns" data-ng-click="showDetail(reserve)">订单详情</button>
                </div>
                <div class="f_dd_lt_sw clear">
                    <div class="f_sw_left">
                        <img src="../../Content/images/more_img1.jpg" />
                    </div>
                    <div class="f_sw_right">
                        <div class="f_sw_tit">
                            <span>听风编号{{reserve.campInfo.CampId}}：{{reserve.campInfo.CampName}}:{{reserve.campInfo.PileNumber}}</span><span>合计金额：￥{{reserve.TotalAmt}}</span>
                            <div class="f_sw_state">支付状态：待付款</div>
                        </div>
                        <div class="f_sw_time clear">
                            <label class="g_w_con">备注备注备注备注备注备注备注备注备注备注</label>

                        </div>
                    </div>
                </div>
                <button class="f_btns f_btns_pos">订单支付</button>

                
            </li>
        </ul>
    </div>
    <div id="divOrderDetail" class="modal hide">
                    <div class="modal-header" style="background-color: #9E9500;">
                        <div style="text-align: left; font-weight: bold;">
                            <button type="button" style="float: right; padding: 0 10px" class="DeleteLine" data-dismiss="modal">
                                X
                            </button>
                            <span style="font-size: 18px;">订单详情 &nbsp;&nbsp;</span>
                        </div>
                    </div>
                    <div>
                        <div style="width: 750px; height: 330px; overflow: hidden; padding: 5px" class="comment-con">
                            <div class="comment-list" style="overflow: auto; height: 300px;">
                                <ul>
                                    <li>
                                        <div>
                                            听风编号：{{currentreserve.campInfo.CampId}}
                                            <br />
                                            听风营名：{{currentreserve.campInfo.CampName}}
                                            <br />
                                            营内桩号：{{currentreserve.campInfo.PileNumber}}
                                        </div>
                                    </li>
                                    <li class="clear" style="min-height:20px" data-ng-repeat="att in currentreserve.Listcampreserveatt">
                                        <em >{{att.CampItemName}}: 价格￥{{att.CampItemUnitPrice}} 数量 {{att.Qty}} 总金额 ￥{{att.CampItemPriceAmt}}</em><br />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
</div>

<script type="text/javascript">
    angular.element(document).ready(function () {
        angular.bootstrap($('body'), ['SO']);
        var $scope = angular.element($("#ng-value")[0]).scope();
        $scope.getAllBooked();
    });
</script>
