* { margin:0; padding:0; border:0; }
body { background:#FFFFFF ; font-family:Arial, Geneva, sans-serif; font-size:12px; }
.ui-autocomplete { max-height: 200px; overflow-y: auto; overflow-x: hidden; }
.ui-autocomplete-term { font-weight: bold; }
.error { color: Red; text-align: center; }

a.forgotPWD { display:block; float:right; text-decoration:none; color:#ccc; }
a.forgotPWD:hover { text-decoration:underline; }

#divHeader { width: 100%; border-top: 5px solid #1a1a1a;}
#divLeftMenu { width: 200px; height:562px; overflow:hidden}
#divRightMenu { margin:8px 5px 5px; width: 250px}
#mainRightBar {position: fixed}
.MainPage { width:100%; background:url(Images/BodyBG.gif) top left repeat-x #E9EDF1; border:1px solid #dbdbdb; border-width:1px 1px 0 0; table-layout:fixed; }
.MainPage td { table-layout:fixed; vertical-align: top; }
.header { margin:0 auto; height:50px;}

.footer { width:100%; text-align:center; font-weight:bold; padding:10px 0; background: white; border-top:1px solid #b8b8b8; }
.loginPosition {text-transform:uppercase; width:500px; float:right; margin-top:15px; text-align:right; margin-right:10px; line-height:140%;font-family:Verdana, Geneva, sans-serif;}
.loginInfo { font-size: 13px; color: #015cab; font-family: Broadway; }
.loginStatus { color:#000000; text-decoration:none; }
.loginStatus:hover { color:#000099; text-decoration:none; }
.TopMENU {font-size:11px; padding:5px 5px 5px 5px; color:#000; text-decoration:none; font-weight:bold;}
.TopMENU:hover {text-decoration:none; color:#666;}

.tableStyle12 {font-family:Arial;border:solid 1px #6e6e6e; border-width:0px 0px 1px 1px; width:90%; margin-left:auto; margin-right:auto;background:#ffffff; margin-top:5px; margin-left:auto; margin-right:auto;}
.tableStyle12 td {padding:7px; border:solid 1px #6e6e6e; border-width:1px 1px 0px 0px; width:15%; white-space:nowrap;}
.tableStyle12 th {font-weight:800; color:#333;padding:7px; border:solid 1px #6e6e6e; width:10%;border-width:1px 1px 0px 0px; background:#E7F3FA;white-space:nowrap;}

.GridRowClick td{background-color:#fff;}
.mainBarLeft { width: 6px; height: 500px; background:url(Images/mainBarLeft.png) no-repeat 0 50%; cursor:pointer; }
.mainBarRight { width: 6px; height: 500px; background:url(Images/mainBarRight.png) no-repeat center; cursor:pointer; }

.textHeader03 { font-size:15px; color:Red; text-transform:uppercase; font-weight:bold; font-style:italic;}
.Version { color:red; font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif; font-size:16px; font-weight:bold; padding-right:10px;}
.tableStyle47{ border: solid 1px #dbdbdb; border-width: 2px 0px 0 1px; white-space: nowrap; text-align: left; text-align: left; margin:0 auto; }
.tableStyle47 td { background-color: #f4f4f4; border: solid 1px #dbdbdb; border-width: 0 1px 1px 0; white-space: nowrap; padding: 3px 4px; }
.tableStyle47 th { table-layout:fixed;white-space: normal; border: solid 1px #dbdbdb; border-width: 0 1px 1px 0; padding: 4px 2px;}
.clearBoth { height:1px; display:block; clear:both; line-height:1px; font-size:1px; }

.tableStyle48 {  border: solid 1px #dbdbdb; border-width: 2px 0px 0 1px; white-space: nowrap; text-align: left; text-align: left; margin:0 auto; }
.tableStyle48 th { background-color: #f4f4f4; border: solid 1px #dbdbdb; border-width: 0 1px 1px 0; white-space: nowrap; padding: 3px 4px; }
.tableStyle48 td { table-layout:fixed;white-space: normal; border: solid 1px #dbdbdb; border-width: 0 1px 1px 0; padding: 4px 2px; }

.tableStyle49 {  border: solid 1px #dbdbdb; border-width: 2px 0px 0 1px; white-space: nowrap; text-align: left; text-align: left; margin:0 auto; }
.tableStyle49 th { background-color: #f4f4f4; border: solid 1px #dbdbdb; border-width: 0 1px 1px 0; white-space: nowrap; padding: 1px 2px; }
.tableStyle49 td { table-layout:fixed;white-space: normal; border: solid 1px #dbdbdb; border-width: 0 1px 1px 0; padding: 2px 2px; }

/**Left Menu**/
.ActiveLog { background:url(Images/border_top.gif) top left repeat-x; padding:4px 7px;  }
.divLog { min-height:565px; padding: 10px;}
.left_nav { height:510px; width:200px; table-layout:fixed;  }

.leftMenu { padding:10px; min-height:350px;}

.leftMenu ul li { list-style-type:none; border:1px solid #CFD4DA; margin:4px 0; font-size:11px; padding:0 0 0 5px; }
.leftMenu ul li:hover { background-color:#FEFEFE; cursor:pointer; }
.leftMenu ul li a { display:block; color:#373737; outline:none; text-decoration:none; padding:0 10px 0 25px; line-height:24px; }
.liSelected { background:url(Images/li.gif) top left repeat-x; font-weight:bold; }

.queueActionBar a { padding:16px; display:block; width:32px; height:32px; float:right; margin-right:7px; text-decoration:none; }
.queueActionBarLeft a { padding:16px; display:block; width:32px; height:32px; float:left; margin-right:7px; text-decoration:none; }
.ReturnList { background:url(Images/T_ReturnList.png) top left no-repeat; width:35px; height:35px; cursor: pointer; padding:8px 20px 10px; border:0; text-decoration:none; }
.ReturnList:hover { background:url(Images/back_hover.png) top left no-repeat; }



.ReturnListUserProfile { background:url(Images/T_ReturnList.png) top left no-repeat; width:35px; height:35px; padding:16px 20px 10px; display:block; border:0; text-decoration:none; }
.ReturnListUserProfile:hover { background:url(Images/back_hover.png) top left no-repeat; }



.ReturnListUserProfileF { background:url(Images/T_ReturnList.png) top left no-repeat; width:35px; height:35px; cursor: pointer; padding:2px 20px 18px; border:0; text-decoration:none; }
.ReturnListUserProfileF:hover { background:url(Images/back_hover.png) top left no-repeat; }

.POS_UploadFile { background:url(Img/Upload.png) top left no-repeat; width:35px; height:35px; cursor: pointer; padding:9px 20px; border:0; text-decoration:none; }
.POS_UploadFile:hover { background:url(Img/Upload_hover.png) top left no-repeat; }
.EmailTo { background:url(Images/submit_normal.png) top left no-repeat; width:35px; height:32px; padding:16px;  cursor: pointer; border:0; text-decoration:none; }
.EmailTo:hover { background:url(Images/submit_hover.png) top left no-repeat; }
.AddNotes { background:url(Images/T_AddNotes.png) top left no-repeat; width:35px; height:32px; padding:16px; cursor: pointer; border:0; text-decoration:none; }
.AddNotes:hover { background:url(Images/Message_hover.png) top left no-repeat;}
.DeleteNotes { background:url(Images/T_DeleteNotes.png) top left no-repeat; width:35px; height:32px; padding:16px; border:0; text-decoration:none; }
.DeleteNotes:hover { background:url(Images/close_hover.png) top left no-repeat;}
.EditQuote{background:url(Images/Edit.png) top left no-repeat; width:35px; height:32px; padding:16px; cursor: pointer; border:0; text-decoration:none; }
.EditQuote:hover{background:url(Images/Edit_hover.png) top left no-repeat;}
.CloseAuth{background:url(Img/Closed.png) top left no-repeat; width:35px; height:32px; padding:16px; cursor: pointer; border:0; text-decoration:none; }
.CloseAuth:hover{background:url(Img/Closed_hover.png) top left no-repeat;}
.SaveQuote{background:url(Images/SaveQuote.png) top left no-repeat; width:35px; height:32px; padding:16px; cursor: pointer; border:0; text-decoration:none; }
.SaveQuote:hover {background:url(Images/Save_hover.png) top left no-repeat;}
.UploadFile { background:url(Img/Upload.png) top left no-repeat; width:35px; height:32px; padding:16px; cursor: pointer; border:0; text-decoration:none; }
.UploadFile:hover { background:url(Img/Upload_hover.png) top left no-repeat; }
.CopyQuote{background:url(Images/Copy_32px.png) top left no-repeat; width:35px; height:32px; padding:16px; cursor: pointer; border:0; text-decoration:none; }
.CopyQuote:hover {background:url(Images/Copy_32px_hover.png) top left no-repeat;}
.UpdateExpiryDate{background:url(Images/Calendar.png) top left no-repeat; width:35px; height:35px; cursor: pointer; padding: 2px 20px 20px; border:0; text-decoration:none; }
.UpdateExpiryDate:hover {background:url(Images/Calendar_hover.png) top left no-repeat;}

.ClosePeriod{background:url(Images/Calendar.png) top left no-repeat; width:35px; height:32px; padding-top:16px; cursor: pointer; border:0; text-decoration:none;  }
.ClosePeriod:hover {background:url(Images/Calendar_hover.png) top left no-repeat;}

.Associate{background:url(Images/Network.png) top left no-repeat; width:35px; height:32px; padding:16px; cursor: pointer; border:0; text-decoration:none; }
.Associate:hover {background:url(Images/Network_hover.png) top left no-repeat;}

.NextItem{background:url(Images/ArrowRight_24px.png) top left no-repeat; width:35px; height:32px; padding:1px 10px 32px; cursor: pointer; border:0; text-decoration:none; }
.NextItem:hover {background:url(Images/ArrowRight_24px_hover.png) top left no-repeat;}
.PreItem{background:url(Images/ArrowLeft_24px.png) top left no-repeat; width:35px; height:32px; padding:1px 10px 32px; cursor: pointer; border:0; text-decoration:none;}
.PreItem:hover {background:url(Images/ArrowLeft_24px_hover.png) top left no-repeat; }


.DeleteLine{background:url(Images/Close_Item.png) top left no-repeat; width:35px; height:32px; padding:1px 10px 32px; cursor: pointer; border:0; text-decoration:none;}
.DeleteLine:hover {background:url(Images/Close_Item_hover.png) top left no-repeat;}

.AddPayout{background:url(Images/NewPayout.png) top left no-repeat; width:35px; height:16px; cursor: pointer; border:0; text-decoration:none; float:right}
.AddPayout:hover {background:url(Images/NewPayout_hover.png) top left no-repeat;}

.AddPayoutDetail{background:url(Images/Payoutln.png) top left no-repeat; width:35px; height:16px; cursor: pointer; border:0; text-decoration:none; float:right}
.AddPayoutDetail:hover {background:url(Images/Payoutln_hover.png) top left no-repeat;}

.PayoutDel{background:url(Images/Payoutdel.png) no-repeat; width:33px; height:16px; cursor: pointer; border:0; text-decoration:none; float:right}
.PayoutDel:hover {background:url(Images/Payoutdel_hover.png) no-repeat;}

.LastQuoteImg{background:url(Images/Details_View.png) top left no-repeat; padding:0 10px 5px; border: 0;  cursor: pointer; text-decoration:none;}
.ReQuote{ background:url(Images/Redo.png) top left no-repeat; width:35px; height:35px; cursor: pointer; padding:0px 20px 20px; border:0; float:left; margin-left:5px; text-decoration:none; }
.ReQuote:hover { background:url(Images/Redo_hover.png) top left no-repeat;}
.AuthClaim{ background:url(Images/Document-Add.png) top left no-repeat; width:35px; height:35px; cursor: pointer; padding:0px 20px 20px; border:0; float:left; margin-left:5px; text-decoration:none; }
.AuthClaim:hover { background:url(Images/Document-Add_hover.png) top left no-repeat;}
.Cancel{ background:url(Images/Cancel.png) top left no-repeat; width:35px; height:32px; padding:16px; cursor: pointer; text-decoration:none;}
.Cancel:hover { background:url(Images/Cancel_hover.png) top left no-repeat;}
.DDLText { padding:2px;border-right-width:0; width:135px; font-family:Arial; font-size:11px;}
.DDLBtn { background:url(Images/arrow_down.gif) 0 -2px no-repeat; width:24px; cursor: pointer; padding:1px; padding:2px; *padding:2px; _padding:2px; font-family:Arial; font-size:11px; border-left-width:0;}
@media screen and (-webkit-min-device-pixel-ratio:0) { .DDLBtn { padding:2px; } } 
.Accept{ background:url(Images/Accept.png) top left no-repeat; width:35px; height:35px; cursor: pointer; padding:0px 20px 20px; border:0; float:left; margin-left:5px; text-decoration:none; }
.Accept:hover { background:url(Images/Accept_selected.png) top left no-repeat;}
.AuthCancel{ background:url(Images/CCleaner.png) top left no-repeat; width:35px; height:35px; cursor: pointer; padding:0px 20px 19px; border:0; text-decoration:none; }
.AuthCancel:hover { background:url(Images/CCleaner_hover.png) top left no-repeat;}
.Reject{ background:url(Images/Reject.png) top left no-repeat; width:35px; height:35px; cursor: pointer; padding:0px 20px 20px; border:0; float:left; margin-left:5px; text-decoration:none; }
.Reject:hover { background:url(Images/Reject_selected.png) top left no-repeat;}

.ApplyChange{ background:url(Images/RunRulesNow.png) top left no-repeat; width:35px; height:35px; cursor: pointer; padding:20px 0px 0px 0px; border:0; text-decoration:none; }
.ApplyChange:hover { background:url(Images/RunRulesNow_hover.png) top left no-repeat;}


.CopySellCustomer { background:url(Images/Clone.png) top left no-repeat; width:35px; height:30px; cursor: pointer; padding: 10px 20px 19px; border:0; text-decoration:none; }
.CopySellCustomer:hover { background:url(Images/Clone_hover.png) top left no-repeat;}
.CopySellCs-Box { background:url(Images/Clone.png) top left no-repeat; width:35px; cursor: pointer; border:0; text-decoration:none; }
.CopySellCs-Box:hover { background:url(Images/Clone_hover.png) top left no-repeat;}
.SummaryDate{ background:url(Images/yearqtr2.png) top left no-repeat; text-align:left; padding:8px 0 0 4px; text-decoration:none;}
.GoToReport{ background:url(Images/QuoteReport.png) top left no-repeat; width:35px; height:32px; padding:16px; cursor: pointer; text-decoration:none;}
.GoToReport:hover { background:url(Images/QuoteReport_hover.png) top left no-repeat;}
.Warning{ background:#fff url(Images/WarningYellow.png) no-repeat left; text-decoration:none; }
.LoadLogic{ background:#fff url(Images/20080523150603729.gif) no-repeat left; text-decoration:none; }
.MPNWarning{ background:#fff url(Images/WarningYellow.png) no-repeat right; }
.Error{ background:#fff url(Images/Error.png) no-repeat left; text-decoration:none; }
.CurrWarning{ background:#fff url(Images/WarningYellow.png) 0 0 no-repeat; padding-left:15px; padding-bottom:5px; text-decoration:none; }
.ClaimUploadFile { background:url(Img/Attachment.png) top left no-repeat; width:35px; height:32px; padding:16px; cursor: pointer; border:0; text-decoration:none; text-decoration:none; }
.ClaimUploadFile:hover { background:url(Img/Attachment_hover.png) top left no-repeat; text-decoration:none; }

.UploadFileAttachment { background:url(Img/Attachment.png) top left no-repeat; width:35px; height:32px; padding-top:8px; display:block; padding-right:50px ; padding-left:10px; padding-bottom:18px; cursor: pointer; border:1; text-decoration:none; text-decoration:none; }
.UploadFileAttachment:hover { background:url(Img/Attachment_hover.png) top left no-repeat; text-decoration:none; }

.PriceBookChangeLog{background:url(Images/pblog.png) top left no-repeat; width:35px; height:35px; padding:16px 0px 16px 0px; cursor: pointer; border:0; text-decoration:none; }


.PriceBookChangeLog:hover{background:url(Images/pblog_hover.png) top left no-repeat;}

.PriceBookDownLoad{ background:url(Images/tempalte.png) top left no-repeat; width:48px; height:48px; cursor: pointer; padding:0px 20px 20px; border:0; margin-left:5px; text-decoration:none; }
.PriceBookDownLoad:hover { background:url(Images/template_hover.png) top left no-repeat;}

.ClaimLineDownLoad{ background:url(Images/lastinv_hover.png) top left no-repeat; width:48px; height:48px; cursor: pointer; padding:0px 20px 20px; border:0; margin-left:5px; text-decoration:none; }
.ClaimLineDownLoad:hover { background:url(Images/lastinv.png) top left no-repeat;}

.Upload{background:url(Images/Upload.png) top left no-repeat; width:35px; height:32px; padding:16px; cursor: pointer; border:0; text-decoration:none; }
.Upload:hover{background:url(Images/Upload_hover.png) top left no-repeat;}

.divQuoteRating { height:80px }

.li_icon { background: url(Images/icon.png) top left no-repeat; width:18px; height:18px; display:block; float:left; margin-top:2px; }
.li_icon_r1_c01 { background-position: 0 0; }
.li_icon_r1_c02 { background-position: -18px 0; }
.li_icon_r1_c03 { background-position: -36px 0; }
.li_icon_r1_c04 { background-position: -54px 0; }
.li_icon_r1_c05 { background-position: -72px 0; }
.li_icon_r1_c06 { background-position: -90px 0; }
.li_icon_r1_c07 { background-position: -108px 0; }
.li_icon_r1_c08 { background-position: -126px 0; }
.li_icon_r1_c09 { background-position: -144px 0; }
.li_icon_r1_c10 { background-position: -163px 0; }
.li_icon_r1_c14 { background-position: -234px 0; }
.li_icon_r2_c01 { background-position: 0 -18px; }
.li_icon_r2_c02 { background-position: -18px -18x; }
.li_icon_r2_c03 { background-position: -36px -18x; }
.li_icon_r2_c05 { background-position: -73px -18px; }
.li_icon_r2_c06 { background-position: -90px -18px; }
.li_icon_r2_c07 { background-position: -108px -18px; }
.li_icon_r2_c11 { background-position: -180px -18px; }
.li_icon_r2_c12 { background-position: -198px -18px; }
.li_icon_r2_c13 { background-position: -216px -18px;}
.li_icon_r2_c14 { background-position: -234px -18px;}
.li_icon_r3_c01 { background-position: 0 -36px; }
.li_icon_r3_c02 { background-position: -18px -36px; }
.li_icon_r3_c03 { background-position: -36px -36px; }
.li_icon_r4_c05 { background-position: -54px -72px; }
.li_icon_r5_c05 { background-position: -72px -72px; }
.li_icon_r5_c08 { background-position: -126px -73px; }
.li_icon_r6_c02 { background-position: -18px -90px; }
.li_icon_r6_c07 { background-position: -108px -90px; }
.li_icon_r6_c13 { background-position: -216px -90px; }
.li_icon_r6_c04 { background-position: -54px -90px; }
.li_icon_r7_c10 { background-position: -163px -108px; }
.li_icon_r7_c04 { background-position: -54px -108px; }
.li_icon_r7_c14 { background-position: -234px -108px; }
.li_icon_r9_c07 { background-position: -108px -144px; }
.li_icon_r10_c07 { background-position: -108px -162px; }
.li_icon_r10_c14 { background-position: -234px -162px; }
.li_icon_r10_c04 { background-position: -54px -163px; }
.li_icon_Text { font-weight:bold; padding-top:3px; font-size:12px; }

.SpecialPopUp {  padding:15px 0 0 40px; color:#215BC4; }
.SpecialPopUp b {  color:#000; }
.SpecialPopUp ul li {  list-style-type:none; line-height:20px; }
.SpecialPopUp ul li ul li {  list-style-type:none; padding-left:4px; list-style-type:square; list-style-position:inside; }
.SpecialPopUp a { color:#215BC4; text-decoration:none; }
.SpecialPopUp a:hover { text-decoration:underline; }

.leftMenu_contet_forSub { text-align: left; width: 100%; font-size: 11px; cursor: pointer; padding:4px; z-index:999; }
.leftMenu_contet_forSub td { padding:3px 0px 0px 15px; background:url(Images/menu_td.png) 0px 5px no-repeat; }
.leftMenu_contet_forSub td:hover { background:url(Images/menu_td_hover.png) 0px 5px no-repeat; }
.leftMenu_contet_forSub a { text-decoration:none; color:#004E98; }
.leftMenu_contet_forSub a:hover { text-decoration:underline; color:#003261; }

.menuminus { background:url(Images/plus.png) 1px center no-repeat; padding-left:14px; color:#FFFFFF; }
.menuplus { background:url(Images/minus.png) 1px center no-repeat; padding-left:14px; color:#FFFFFF; }
.errorDiv { font-size: 12px; height: 400px; vertical-align: middle; text-align: left; padding-left: 20px; }

.inputText01 { font-size:12px; width:99%; border:1px solid #dbdbdb; }
.inputtext { border:solid 1px #4F81BD; padding:2px;font-family:Arial; font-size:11px; }
.inputtextfullsearch { width: 170px; height: 21px; margin: 1px; vertical-align: top; border: 0px; outline: none; font-size: 15px; padding: 0px; color: #404041; }
.inputtext01 { border:solid 1px #4F81BD; padding:2px; width:120px; height:12px; font-family:Arial; font-size:11px;}
.inputtext02 { border:solid 1px #dbdbdb; padding:2px; width:160px; font-family:Arial; font-size:11px;}
.inputtext03 { border:solid 1px #dbdbdb; padding:2px; width:80%; font-family:Arial; font-size:11px;}
.txtRecommend { border:1px dashed #999; border-width:0 0 1px 0; background:none; width:50px; font-size:11px; }
.txtCustRef { border:1px dashed #999; border-width:0 0 1px 0; background:none; width:130px; font-size:11px; float:left; }
.inputText { border:solid 1px #dbdbdb; padding:2px; width:136px; font-family:Arial; font-size:11px;}
.inputTextShort { border:solid 1px #dbdbdb; padding:2px; width:115px; font-family:Arial; font-size:11px;}
.inputTextLabel { border:0px; width:140px; font-family:Arial; font-size:11px;}
.inputAreaText { border:#dbdbdb 1px solid; width:300px; font-family:Verdana; font-size:13px; }
.inputTextRight { border:solid 1px #dbdbdb; padding:2px; width:136px; text-align:right; font-family:Arial; font-size:11px;}

.btn05 {background:url(img/btn05.png) center 0 no-repeat; font-size:10px; width:70px; padding:5px 7px; text-align:center; border:0; }
.btnEnter {background:url(images/road_left_16px.png) center 0 no-repeat; font-size:10px; padding:5px 7px; text-align:center; border:0; float:right; margin: -13px 0px 0px 50px;}
.EnterMessage{background:url(Images/Bookmark_Add.png) top left no-repeat; width:28px; height:30px; cursor:pointer; display:block; text-decoration:none; float:left; }
.EnterMessage:hover {background:url(Images/Bookmark_Add_hover.png) top left no-repeat;}
.btnMessage {background:url(images/MessageAd.png) center 0 no-repeat; font-size:10px; padding:5px 7px; text-align:center; border:0; }
.btnWarning {background:url(images/WarningMessage.png) center 0 no-repeat; font-size:10px; padding:5px 7px; text-align:center; border:0; }
.btnLink {background:url(images/Link.png) center 0 no-repeat; font-size:10px; padding:5px 7px; text-align:center; border:0; }
.btnDetailView {background:url(images/Details_View.png) center 0 no-repeat; font-size:10px; padding:6px 7px; text-align:center; border:0; }

.abtn {background:url(img/btn05.png) center 0 no-repeat; font-size:10px; width:70px; padding:5px 0px 7px 0px; display:block; text-align:center; color:#000; text-decoration:none; border:0; }
.btnReportSearch { background:url(img/btn05.png) center 0 no-repeat; font-size:10px; width:75px; padding:7px 0px 6px 0px; font-weight:400; text-align:center;}
.btnClose { background: url(images/confirm_close_hover.png) top right no-repeat; padding:5px 7px; float:right; border:0; }
.tdMessageHistory { background: url(images/Message_history.png) top left no-repeat; cursor:pointer; }

/**Report Page**/
.SearchContiontable { border:solid 1px #dbdbdb; border-width:0px 0px 1px 1px; width:100%; }
.SearchContiontable td { padding:4px 0; border:solid 1px #dbdbdb; border-width:1px 1px 0px 0px; }
.ddlReportItem { border:1px solid #C1D2EE; }

#divSearch {background:#FFFFFF url(Images/bg_box.png) bottom repeat-x; height:452px;  border-bottom:1px #ffffff solid;}
#divResults {background:#FFFFFF url(Images/bg_box.png) bottom repeat-x; height:452px;  border-bottom:1px #ffffff solid;}
.queryTitle { font-weight:bolder; font-size: 16px; color:#666666; }
.button01 { border:solid 1px #7F9DB9; padding:5px; font-size:12px; width: 300px; }

.exportExcel{BACKGROUND: url(Images/ExportExcel.jpg) no-repeat center left;}
.flexGirdSelect{BACKGROUND: url(Images/ExportExcel1.jpg) no-repeat center left; background-image:none;}
.exportMgrList{background: url(Images/ExportExcel.jpg) no-repeat center left; padding: 0 0 0 24px; height:22px; border:0;  color:#0e226f; cursor:pointer; margin-top:3px;}

.SpecialMenu { position:relative; top:1px; }
.SpecialMenu ul li { padding:6px 0 6px; margin-left:10px; text-align:center; font-size:10px; border:1px solid #dbdbdb; border-bottom:1px solid #ffffff; list-style-type:none; }
.TopMenuSelected { width:75px; }
.QuoteMenu { width:100%; background:url(img/QuoteMenuBg.gif) bottom left repeat-x; border-bottom:1px solid #8b8e93; border-top:1px solid #dbdbdb; padding:0px 0; }
.QuoteMenu td { border:0; table-layout:fixed; text-align:center; vertical-align:top; }
.QuoteMenu .std { padding:2px; width:50px; height:55px; }
.QuoteMenu .stdR { padding:2px 4px 5px; color:#666; font-size:11px; border-right:1px solid #dbdbdb; }
.QuoteMenu td img:hover,
.QuoteMenu td span:hover { cursor:pointer; }
.QuoteMenu td img { border:0; padding:2px; }
.QuoteMenu td span { font-size:14px; font-family:Verdana; font-weight:bold; }
.WorkSpace { padding-bottom:2px; margin-bottom:2px; border-bottom:1px dashed #C5C5C5; font-weight: bold; }
.WorkSpace p { padding-left:22px; line-height:24px; }
.workArea { padding:3px; }
.workArea:hover { border:1px solid #F1C43F; background-color:#FDEEB3; padding:2px; }

/* New Login Page - 20121107 Design by Galen */
.divLogoArea, .divTabMenu, .divLoginBody {  width:1024px; margin:0 auto; }

.divHeader { height:5px; background-color:#1a1a1a; }
.divLogoArea { height:90px; text-align:left; }
.spanHeaderLogo { background: url(LoginImg/Assiate.png) 0 2px no-repeat; padding-left:48px; color:#000000; font-family: Verdana; font-size:22px; }
.spanHeaderLogoInner { background: url(LoginImg/AssiateInner.png)0 -2px no-repeat; padding-left:48px; color:#000000; font-family: Verdana; font-size:30px; }
/*.spanHeaderLogoOcz { background: url(images/CHIRP_logo1.png) 2px 0px no-repeat; padding-left:100px; color:#000000; font-family: Verdana; font-size:22px; padding-bottom:4px; }
.spanHeaderLogoInnerOcz { background: url(images/CHIRP_logo2.png) 10px 0 no-repeat; padding-left:80px; color:#000000; font-family: Verdana; font-size:30px; padding-bottom:4px;}*/
.spanHeaderLogoOcz { background: url(images/new_OCZ_logo_fullToshiba60.jpg) 2px 0px no-repeat; padding-left:550px; color:#000000; font-family: Verdana; font-size:22px; padding-bottom:65px; }
.spanHeaderLogoInnerOcz { background: url(images/new_OCZ_logo_fullToshiba28.png) 10px 0 no-repeat; padding-left:250px; color:#000000; font-family: Verdana; font-size:30px; padding-bottom:28px;}
.envHeaderLogo { font-size:14px; position:relative; float:left; top:10px; left:2px; }
.spanCollaborate { background: url(images/share16px.png) 5px 1px no-repeat; padding:5px 10px 0px; }
.spanCollaborateInner { background: url(images/share16px.png) 4px 5px no-repeat; padding: 5px 10px 0; }
.divLogoAreaInner { height:44px; padding-top:14px; text-align:left; }
.divTabMenu ul { list-style-type:none; }
.divTabMenu ul li { float:left; width:19%; text-align:center; font-family:Verdana; font-size:12px; font-weight:bold; }
.divTabMenu ul li a { color:#565656; line-height:34px; text-shadow:0px 1px 1px #FFF; text-decoration:none; background: url(LoginImg/menuLibg.png) top left repeat-x; height:34px; display:block; outline:none; border:1px solid #C1C1C1; border-width:1px 1px 1px 0; border-left:1px solid #FFF; }
.divTabMenu ul li a:hover { color:#FEFEFE; text-shadow:0px 1px 1px #505050; background: url(LoginImg/menuLiHoverbg.png) top left repeat-x; }
.divTabMenu ul .liFirstCircle { background: url(LoginImg/liLeftCircle.gif) top left no-repeat; padding:0 0 0 1px; }
.divTabMenu ul .liFirstCircle a { border-left:0; }
.divTabMenu ul .liRightCircle { background: url(LoginImg/liRightCircle.gif) top right no-repeat; padding:0 1px 0 0; }
.divTabMenu ul .liRightCircle a { border-right-width:0; }
.divTabMenu ul .liSelected { color:#FEFEFE; text-shadow:0px 1px 1px #505050; background: url(LoginImg/menuLiHoverbg.png) top left repeat-x; }

.popupdiv {border: solid 2px #dbdbdb; background-color:#fefefe; height: 200px; width:300px; text-align:center; overflow:auto;}
.popupdivNew {border: solid 2px #dbdbdb; background-color:#fefefe; height: 120px; width:400px; text-align:center; overflow:auto;}

.divBody { clear:both; background:url(LoginImg/loginBg.gif) 0 70px repeat-x; }
.divLoginBody { border:0; height:300px; background:url(lOGINiMG/LoginArea.gif) top left no-repeat #FFF; }
.SignIn { color:#607385; font-size:18px; padding:10px; width:1024px; margin:0 auto; text-align:left; }

.SinInBtn { background: url(LoginImg/LoginButton.gif) top left no-repeat; text-align:left; width:96px; height:32px; font-size:14px; color:#FFF; outline:none; border:0; font-family:Verdana; text-align:center; vertical-align:middle; font-weight:bold; }
.SinInBtn:hover { background: url(LoginImg/LoginButtonH.gif) top left no-repeat; }
.nlpBtnLogin:hover { cursor:pointer; }
.divBodyTblLeftTd { border-right:1px solid #C1C1C1; width:64%; padding:0 30px 0 20px; text-align:left; vertical-align:top; }
.divBodyTblRightTd { text-align:left; vertical-align:top; padding:0 0 0 20px; vertical-align:top; }

.btnArrowR { background:url(img/ArrowR.gif) top left no-repeat; padding-left:10px; }
.btnArrowB { background:url(img/ArrowB.gif) top left no-repeat; padding-left:10px; }

.loginAreas { padding:15px; background-color:#F2F2F3; }
.divEnterLogin { background-color:#FFF; border:1px solid #DDD; padding:20px 0 35px 0; }
.tblEnterLogin { width:80%; margin:0 auto; }
.tblEnterLogin td { table-layout:fixed; padding:3px 7px; text-align:left; padding-left:10px; font-weight:bold; vertical-align:top; }
.tblEnterLogin td.RightTdTips { border-left:2px solid #afb7c0; text-align:center; font-size:12px; vertical-align:middle; font-weight:normal; line-height:160%; }
.tblEnterLogin td.RightTdTips a { text-decoration:none; cursor:pointer; color:#000; font-size:11px; }
.tblEnterLogin td.RightTdTips img { vertical-align:middle; }
.loginText { color:#3987CC; }
.loginTBox { background:url(LoginImg/LoginTextBox.gif) top left no-repeat; width:400px; height:40px; border:0; padding:0 10px; font-size:18px; vertical-align:middle; }
.requireMarker { background: url(LoginImg/requireBtn.gif) top left no-repeat; width:80px; height:31px; font-size:9px; display: block; color:#FFFFFF; line-height:34px; padding-left:20px; }

.tipForNewUser { color:#003278; font-size:24px; font-weight:600; background: url(LoginImg/user.jpg) top right no-repeat; width:250px; height:26px; line-height:30px; }
.tipsText { color:#424242; font-size:12px; line-height:160%; }
.tipsText a { color:#376eb1; }
.tips { color:#FF0000; font-size:10px; font-family:Verdana; text-align:right; }
.NLoginerrorMessage {background:#e8f6ff; border:#b8e2fb dashed 1px; color:#af1a1a; padding:10px 0px 10px 25px;}
.divFooter { background: url(LoginImg/divFooter.gif) top left repeat-x; height:34px; color:#d0d0d0; font-size:11px; font-family:Verdana; text-align:center; padding:11px 0 0 0; }

.information { padding:10px; border-bottom:1px solid #A5ACAB; }
.information ul li { list-style-type:none; font-size:11px; }
.information ul li a { color:#333; padding:3px 10px 2px 5px; display:block; text-decoration:none; }
.information ul li a:hover { background-color:#FEFEFE; outline:none; }
.QueueOverflow { height: 100px; overflow: auto; border:1px solid #CFD4DA; border-top-width:1px; }

.aTitle { color:#333; font-size:14px; font-weight:bold; display:block; padding:4px; }
.detailTitle { color:#1261e1; font-size:14px; font-family:Verdana; font-weight:bold; padding:7px; }

.tblDetail { width: 100%; border:solid 1px #dbdbdb; border-width: 0 0 1px 1px; white-space: nowrap; text-align: left; text-align: left; }
.tblDetail th { background-color:#f4f4f4; border:solid 1px #dbdbdb; border-width:1px 1px 0 0; white-space: nowrap; padding: 3px 4px; }
.tblDetail td { table-layout:fixed; white-space:normal; border:solid 1px #dbdbdb; border-width:1px 1px 0 0; padding: 4px 2px; }

.tblEdit { white-space: nowrap; text-align: left; margin-bottom: 30px; margin-left: 20px;}
.tblEdit th { background-color:#f4f4f4; border:0; white-space: nowrap; padding: 3px 4px; }
.tblEdit td { table-layout:fixed; white-space:normal; border:0; padding: 3px 0 3px; }

.tblNoBorder { width:100%; border:0; }
.tblNoBorder th { font-weight:bold; border:0; table-layout:fixed; }
.tblNoBorder td { border:0; table-layout:fixed; padding-left:4px;}
.tblNoBorderInside { border:0; table-layout:fixed; padding-left:4px; font-family:Arial; font-size:11px;}
.tblNoBorderLabel  { border:0; table-layout:fixed; padding-left:4px; color: #666; }
.tblImgPosition  { text-align:right!important; }
.tblImgPosition img { position:absolute; float:left; display:block; }

.VIRHeaderTitle { background: url(images/VIR_bg.gif) bottom left repeat-x; padding-left:10px!important; }
.tblVIRChannel, tblVIRAuthTotal, tblVIRItemLine { width:100%; border:0; }
.tblVIRChannel th, .tblVIRAuthTotal th, .tblVIRItemLine th { font-weight:bold; border:0; table-layout:fixed; }
.tblVIRChannel td,.tblVIRAuthTotal td, .tblVIRItemLine td { border:0; table-layout:fixed; padding-left:4px; vertical-align:middle; }
.tblVIRChannel tr:hover td { background-color:#F1FFD9; color:#000; font-weight:500; }
.tblVIRAuthTotal tr:hover td { background-color:#fdf3d8; color:#000; font-weight:500; }
.tblVIRItemLine tr:hover td { background-color:#d3f1fe; color:#000; font-weight:500; }

.tblExpiryDate { width:100%; border:0; }
.tblExpiryDate td { border:0; table-layout:fixed; padding:3px 4px; font-weight:normal; line-height:180%;}

.tblMessageBox { width:100%; table-layout:fixed; font-size:12px; border:1px solid #dbdbdb; border-width:1px 0; }
.tblMessageBox th { text-align:left; width:100px; table-layout:fixed; font-weight:normal; vertical-align:top; padding:3px 0; }
.tblMessageBox td { text-align:left; word-break:break-all; word-wrap:break-word; vertical-align:top; }

.Quickrfq { width:100%; border:0; }
.Quickrfq td { border:0; }
.tblQuickrfq { width:100%; border:0; table-layout:fixed; }
.tblQuickrfq td { padding:3px; table-layout:fixed; border:0; }

.title {cursor:pointer;}
select, input { border:1px solid #dbdbdb; }
.radio { border:0 !important; vertical-align:middle; height:12px; outline:none; }
.inputselect { background:url(images/arrow_down.gif) center right no-repeat #FFF; border:solid 1px #dbdbdb; padding:2px; width:160px; font-family:Arial; font-size:11px; }
input:hover { cursor:pointer; }
input[type="text"],
input[readonly],
input[disabled="disabled"]{ cursor:default; background-color:transparent; }

.inputTextLabelRight { border:0px; width:80px; text-align:right; padding-right:3px; }
.datefield { width:160px; border:#dbdbdb 1px solid; height:20px; background:#fff url(img/datePicker.gif) no-repeat right; }
.quoteline { width: 100%; height:150px; overflow: auto; overflow-x: auto; overflow-y: auto; }

.quotelinePartnerHeight { width: 100%; height:80px; overflow: auto; overflow-x: auto; overflow-y: auto; }

.quotelinePartner { width: 100%; overflow: auto; overflow-x: auto; overflow-y: auto; }

/*------ Styles for validation helpers ------*/
.field-validation-error { color: #ff0000; }
.field-validation-valid { display: none; }
.input-validation-error { border: 1px solid #ff0000; background-color: #ffeeee; }
.validation-summary-errors { line-height: 18px; width: 400px; padding: 2px 10px 2px 50px; }
.validation-summary-valid { display: none; }

/*Top bar of queue*/
#nav { padding:0; margin:0; list-style:none; }
#nav li a.top_link { display:block; text-decoration:none; cursor:pointer; font-size:11px; color:#000;  height:56px; }

/* Default list styling */
#nav li:hover { position:relative; z-index:200; }
#nav li:hover ul.sub
{left:-2px; top:55px; background: #FFFFFF; padding:3px; border:1px solid #5c731e; white-space:nowrap; width:90px; height:auto; z-index:300; display:block; }
#nav li:hover ul.sub li
{display:block; height:20px; position:relative; float:left; width:90px; font-weight:normal; text-align:left;}
#nav li:hover ul.sub li a
{display:block; font-size:11px; height:18px; width:88px; line-height:18px; text-indent:5px; color:#000; text-decoration:none;border:1px solid #FFFFFF;}
#nav li:hover ul.sub li a:hover 
{background:#FFFFFF; color:#fff; border-color:#fff;}
#nav li:hover ul.sub li a.fly:hover
{background-color:#000000; color:#fff;}
#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul
{left:90px; top:-4px; background: #FFFFFF; padding:3px; border:1px solid #FFFFFF; white-space:nowrap; width:90px; z-index:400; height:auto; }
#nav ul, 
#nav li:hover ul ul,
#nav li:hover li:hover ul ul,
#nav li:hover li:hover li:hover ul ul,
#nav li:hover li:hover li:hover li:hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}
#nav li:hover li:hover a.fly,
#nav li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover li:hover a.fly
{background:#000000 url(img/arrow_over.gif) 80px 6px no-repeat; color:#fff; border-color:#fff;}
#nav li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li:hover li a.fly
{background:#000000 url(img/arrow.gif) 80px 6px no-repeat; color:#000; border-color:#bbd37e;}

/*Activity log start*/
.rubicon-box-element {
  position: relative;
  overflow: hidden;
}
.rubicon-content-element {
  overflow: scroll;
}
.rubicon-content-element::-webkit-scrollbar,
.rubicon-content-element::scrollbar {
  width: 0;
  height: 0;
}
.rubicon-scrollbar {
  background: #747474;
  background: rgba(0,0,0,0.54);
  -webkit-transition: linear 300ms opacity;
  -moz-transition: linear 300ms opacity;
  -o-transition: linear 300ms opacity;
  transition: linear 300ms opacity;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 1px #fff;
  -moz-box-shadow: 0 0 1px #fff;
  box-shadow: 0 0 1px #fff;
  z-index: 10;
  position: absolute;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.rubicon-scrollbar.shown {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.rubicon-scrollbar-vertical {
  width: 7px;
  margin-top: 2px;
  right: 2px;
  top: 0;
}
.rubicon-scrollbar-horizontal {
  height: 7px;
  margin-left: 2px;
  bottom: 2px;
  left: 0;
}
.activity-stream-list:first-child .activity-group-view:first-child .activity-group-header-view {
  border-top: none !important;
}
.activity-stream-list .activity-group-view {
  width: 100%;
}
.activity-stream-list .activity-group-view .activity-group-header-view {
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  padding-right: 8px;
  background: #404041;
  color: #eee;
  border-top: solid 1px #5a5a5a;
  border-bottom: solid 1px #333;
  height: 25px;
  line-height: 23px;
}
.activity-stream-list .activity-group-view .activity-group-header-view.expanded {
  text-align: center;
  padding-right: 0;
}
.activity-stream-list .activity-group-view .activity-group-list :last-child {
  border-bottom: none !important;
}
.activity-stream-list .activity-group-view .activity-group-list .activity-item {
  color: #fff;
  border-bottom: 1px solid #333;
  position: relative;
  cursor: default;
  background: url("img/texture-bg.png") repeat;
}
.activity-stream-list .activity-group-view .activity-group-list .activity-item.activity-unknown {
  background-color: #c0c0c0;
}
.activity-stream-list .activity-group-view .activity-group-list .activity-item.expanded {
  font-size: 0.9em;
  line-height: 25px;
}
.activity-stream-list .activity-group-view .activity-group-list .activity-item.expanded img.avatar {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-top: 7px;
  margin-left: 7px;
  height: 42px;
  width: 42px;
}
.activity-stream-list .activity-group-view .activity-group-list .activity-item.expanded span.summary {
  display: inline-block;
  position: absolute;
  top: 0;
  font-size: 0.9em;
  padding-left: 7px;
  padding-top: 5px;
  line-height: 1.3em;
  color: #d4d4d4;
}
.activity-stream-list .activity-group-view .activity-group-list .activity-item.expanded span.summary a {
  color: #13a89e;
  text-decoration: none;
}
.activity-stream-list .activity-group-view .activity-group-list .activity-item.expanded span.time {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 17px;
  font-size: 0.7em;
  color: #d4d4d4;
  text-align: right;
}
*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.floating-panel {
  z-index: 99999;
  background-color: #ebebeb;
  border: solid 1px #777;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px #444;
  -moz-box-shadow: 0px 0px 5px #444;
  box-shadow: 0px 0px 5px #444;
}
.floating-panel .floating-panel-arrow-container {
  position: absolute;
  overflow: hidden;
  padding: 10px;
}
.floating-panel .floating-panel-arrow-container .floating-panel-arrow {
  background-color: #ebebeb;
  -webkit-box-shadow: 0px 0px 5px #444;
  -moz-box-shadow: 0px 0px 5px #444;
  box-shadow: 0px 0px 5px #444;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
}
.floating-panel .floating-panel-arrow-container.east {
  width: 10px;
  margin-left: -20px;
}
.floating-panel .floating-panel-arrow-container.east .floating-panel-arrow {
  border-left: solid 1px #777;
  border-bottom: solid 1px #777;
}
.floating-panel .floating-panel-arrow-container.south {
  height: 10px;
  margin-top: -30px;
}
.floating-panel .floating-panel-arrow-container.south .floating-panel-arrow {
  border-top: solid 1px #777;
  border-left: solid 1px #777;
}
.floating-panel .floating-panel-arrow-container.north {
  height: 10px;
  margin-top: -30px;
}
.floating-panel .floating-panel-arrow-container.north .floating-panel-arrow {
  margin-top: -20px;
  border-bottom: solid 1px #777;
  border-right: solid 1px #777;
}

/* Setting Page ------ 20121217 Desgin by Galen */
.SettingMainPage { border:1px solid #A5ACB5; background-color:#FFF; }
.Settingh1 { padding:7px 14px; font-weight:bold; border-bottom:1px solid #A5ACB5; background-color:#E9EDF1; }
.aTitle { color:#000; font-size:14px; font-weight:bold; display:block; padding:4px; }
.Icon32 { background: url(images/32Icon.png) top left no-repeat; width:40px; height:36px; display:block; position:absolute; margin-top:2px; }
.Icon32_r1_c01 { background-position: -200px -120px; }
.Trangle_2 { background-position: -13px 0; }
.aMapping { display: block; text-decoration:none; color:#000; font-size:14px; font-weight:bold; font-family: Verdana; padding:5px 0 2px 45px; }
.aMapping:hover { text-decoration:underline; }
.SettingDesc { padding-left:45px; color:#333; font-size:11px; font-family: Verdana; }
.SwitchType { text-align:left; padding:10px; border-bottom:1px dashed #B8B8B8; }
.MailDelete { background:url(Images/Mail_Delete.gif) top left no-repeat; width:16px; height:16px; display:block; border:0; text-decoration:none; }

.tblMapping { width:98%; margin:4px auto; }
.tblMapping td { padding:3px; width:50%; table-layout:fixed; }
.SelOCZ { border:1px solid #dbdbdb; width:120px; margin:5px 0; }
.divMappingEmail { font-family:Verdana; font-size:11px; height:80px; width:50%; overflow:auto; border:1px solid #dbdbdb; margin:5px; }
.divMappingEmail table td { padding:2px 3px; }
.MappingScroll { height:440px; overflow:auto; width:99%; margin:0 auto; overflow-x:hidden; overflow-y:auto; border:1px solid #dbdbdb; border-width:1px 0; }
.POS_tblDrag { table-layout:fixed; border:1px solid #dbdbdb; border-width:0 1px 0 0; margin:0 auto; }
.POS_tblDrag td { vertical-align:top; }
.POS_tblDrag th { vertical-align:middle; padding:6px 0; background-color:#F1F4F7; border-bottom:1px solid #dbdbdb; }
.POS_tblDrag td { table-layout:fixed; border:1px solid #dbdbdb; border-width:0 0 1px 1px; }
.POS_tblDrag ul li { list-style-type:none; }
.tblDrag { table-layout:fixed; border:1px solid #dbdbdb; border-width:0 1px 0 0; margin:2px auto 0 auto; }
.tblDrag td { vertical-align:top; }
.tblDrag th { vertical-align:middle; padding:1px 0; background-color:#F1F4F7; }
.tblDrag td,
.tblDrag th { table-layout:fixed; border:1px solid #dbdbdb; border-width:0 0 1px 1px; }
.tblDrag ul li { list-style-type:none; }
.DrafListL, .POS_DrafListL { width:48%; float:left; display:block; margin:4px 0; min-height:380px; }
.DrafListR, .POS_DrafListR { width:48%; float:right; display:block; margin:4px 0; min-height:380px; }
.POS_DrafListL li, .POS_DrafListR li, .DrafListL li,
.DrafListR li { list-style-type:none; background:none; border:0; padding:10px 4px 1px 4px; cursor:pointer; width:99%; margin:0 auto; }
.DrafListL li:active,
.DrafListR li:active { border-top:2px solid #0DAEF0; padding-top:2px; }
.DrafListTextR li { text-align:right; color:#000; }
.DrafListTextL li { text-align:left; color:#000; }
.TreeMatch { background:url(images/TreeMach.gif) 50% 0 repeat-y; table-layout:fixed; min-height:400px; }
.btnNormal { background:url(images/CommonButton.gif) top left repeat-x; border:1px solid #656565; padding:3px 15px; font-size:10px; font-family:Verdana; color:#000; text-decoration:none; }
.btnNormal:hover { background:url(images/CommonButtonH.gif) top left repeat-x; cursor:pointer; }
.btnCreateNewRFQ { color:#0000cc; background:url(images/New.png) 0 0 no-repeat; border:0;  width:35px; height:32px; padding:16px; font-size:12px; outline:none; }
.btnCreateNewRFQ:hover { background:url(images/New_hover.png) top left no-repeat; cursor:pointer; text-decoration:none; }

.btnTools { color:#0000cc; background:url(images/Tools.png) 0 0 no-repeat; border:0;  width:35px; height:32px; padding:16px; font-size:12px; outline:none; }
.btnTools:hover { background:url(images/Tools_hover.png) top left no-repeat; cursor:pointer; text-decoration:none; }

.btnMassUpdate { color:#0000cc; background:url(images/Batch_Transfer.png) 0 0 no-repeat; border:0;  width:35px; height:32px; padding:16px; font-size:12px; outline:none; }
.btnMassUpdate:hover { background:url(images/Batch_Transfer_hover.png) top left no-repeat; cursor:pointer; text-decoration:none; }

.PriceBookReturnList { background:url(Images/T_ReturnList.png) top left no-repeat; border:0;  width:35px; height:32px; padding:16px; font-size:12px; outline:none; }
.PriceBookReturnList:hover { background:url(Images/back_hover.png) top left no-repeat; }

.btnExport { color:#0000cc; background:url(images/Export.png) 0 0 no-repeat; border:0;  width:35px; height:32px; padding:16px; font-size:12px; outline:none; }
.btnExport:hover { background:url(images/Export_hover.png) top left no-repeat; cursor:pointer; text-decoration:none; }

.btnUploadClaimLine { color:#0000cc; background:url(images/upload16.png) 0 0 no-repeat; border:0;  width:16px; height:16px; padding:16px; font-size:12px; outline:none; }
.btnUploadClaimLine:hover { background:url(images/upload16_hover.png) top left no-repeat; cursor:pointer; text-decoration:none; }


.btnExportPDFCustomer { color:#0000cc; background:url(images/PdfC.png) 0 0 no-repeat; border:0;  width:35px; height:32px; padding:16px; font-size:12px; outline:none; }
.btnExportPDFCustomer:hover { background:url(images/PdfC_hover.png) top left no-repeat; cursor:pointer; text-decoration:none; }

.btnExportPDFInternal { color:#0000cc; background:url(images/PdfI.png) 0 0 no-repeat; border:0;  width:35px; height:32px; padding:16px; font-size:12px; outline:none; }
.btnExportPDFInternal:hover { background:url(images/PdfI_hover.png) top left no-repeat; cursor:pointer; text-decoration:none; }

.btnExportExcelInner { color:#0000cc; background:url(images/Excel_export.png) 0 0 no-repeat; border:0;  width:35px; height:32px; padding:16px; font-size:12px; outline:none; }
.btnExportExcelInner:hover { background:url(images/Excel_export_hover.png) top left no-repeat; cursor:pointer; text-decoration:none; }


.btnAuthVIRDetailAdd { color:#0000cc; background:url(images/Details_View.png) 0 0 no-repeat; border:0;  width:35px; height:32px; padding:16px; font-size:12px; outline:none; }

.btnAuthVIRDetailReduce { color:#0000cc; background:url(images/MinusNew.png) 0 0 no-repeat; border:0;  width:35px; height:32px; padding:16px; font-size:12px; outline:none; }
.btnAuthVIRDetailReduce:hover { background:url(images/MinusNew_hover.png) top left no-repeat; cursor:pointer; text-decoration:none; }


.Reduce { color:#0000cc; background:url(images/MinusNew.png) no-repeat; border:0;  width:15px; height:12px;  font-size:12px; outline:none; }
.Reduce:hover { background:url(images/MinusNew_hover.png) no-repeat; cursor:pointer; text-decoration:none; }

.btnExportExcelInner { color:#0000cc; background:url(images/Excel_export.png) 0 0 no-repeat; border:0;  width:35px; height:32px; padding:16px; font-size:12px; outline:none; }
.btnExportExcelInner:hover { background:url(images/Excel_export_hover.png) top left no-repeat; cursor:pointer; text-decoration:none; }

.CopyQuote{background:url(Images/Copy_32px.png) top left no-repeat; cursor: pointer; border:0;}
.CopyQuote:hover {background:url(Images/Copy_32px_hover.png) top left no-repeat;}


.ArrowRight{background:url(img/arrow.gif) top left no-repeat; cursor: pointer; border:0; vertical-align:top}
.ArrowDown {background:url(Images/arrow_down.gif) top left no-repeat; cursor: pointer; border:0; vertical-align:top}

.ArrowCollapse{background:url(Images/Arrowhead-Right1.png) top left no-repeat; padding-left:10px; padding-top: 2px; cursor: pointer; border:0; vertical-align:top}
.ArrowToogle {background:url(Images/Arrowhead-Down1.png) top left no-repeat; padding-left:10px; padding-top: 2px; cursor: pointer; border:0;vertical-align:top}


.btnSearch { background:url(images/search_16.png) 0 3px no-repeat; cursor:pointer; padding:6px 6px 0; border:0; }
.btnAddEmail { background:url(img/Mail_Out_16.png) 0 3px no-repeat; cursor:pointer; padding:0 12px 6px; border:0; }
.btnImportPOS{ color:#0000cc; background:url(images/Import.png) 0 0 no-repeat; border:0; padding:15px 3px 3px 26px; font-size:12px; outline:none; }
.btnImportPOS:hover { color:#0000cc; background:url(images/Import_hover.png) top left no-repeat; border:0; padding:15px 3px 3px 26px; font-size:12px; outline:none; }
.btnImportPOS:hover { cursor:pointer; text-decoration:none; }

/* Grid --- 20121211 Added by Galen */
.pageSection { min-height:460px; background-color:#FFF; border:1px solid #b8b8b8; } /* border:1px solid #9E9500;*/
.activityHeader { padding-top:4px; font-weight:bold; z-index:5; }
.Gird_Header { width:100%; background:url(Images/Gird_HeaderBG.gif) top left repeat-x #FFF; }
.Gird_Header td { vertical-align:middle; text-align:left; font-size:10px; font-weight:bold; }
.footerlink { color:#0000CC; text-decoration:underline; cursor:pointer; }
.Grid_Table { border:1px solid #ccc; width:100%; border-collapse:collapse; }
.Grid_Table th { border:0; border-bottom:1px solid #ccc; border-right:1px solid #E2E2E2; background:url("images/Grid_Header.gif") top left repeat-x; height:24px; font-weight:normal; }
.Grid_Table th a { text-decoration:none; color:#000; }
.Grid_Table th a:hover { border-bottom:2px solid #FFA500 }
.Grid_Table td { border:0; border-right:1px solid #E2E2E2; height:24px; background-color:#FFF; text-align:center; vertical-align:middle; }
.Grid_Table tr.erow td { background: #f7f7f7; }
.Grid_Table tr:hover td { background-color:#D9EBF5; cursor:pointer; }

.tblDetailInfo { white-space: nowrap; text-align:left; background-color:#FFF; border:1px solid #b8b8b8; width:100%; padding:4px; }
.tblDetailInfo th { background-color:#f9f9f9; border:0; white-space: nowrap; padding: 6px 0 6px 3px; table-layout:fixed; text-align:left; }
.tblDetailInfo td { table-layout:fixed; white-space:normal; border:0; padding: 3px 0 3px 3px; table-layout:fixed; text-align:left; white-space:nowrap; }
.tblDetailInfo table { width:100%; }

.FilterArea { width:98%; margin:0 auto; }
.FilterArea th,
.FilterArea td { text-align:left; padding:4px 2px 4px 0; white-space:nowrap; font-size:10px; font-family: Verdana; font-weight:bold; }
.FullTextIndex { margin:3px auto; padding:10px 0; width:98%; border-bottom:2px dashed #999; }

.mainTable { width:100% }
.activityLog { margin-top:6px; height:200px; width: 185px; }
.activityLog li { font-size:11px; display:block; }
.activityLog li .timeago { display:block; text-align:right; color:#777; margin-bottom:7px; }
.activityLog li:hover { cursor:pointer; }
.activityLog .timeago {color: #777; display: block; text-align: right; margin-right: 10px; margin-top:5px}

.CreateArea { text-align:left; padding:10px; height:55px; border:6px solid #9e9500; border-width:1px 1px 1px 6px; background-color:#FFF; }

.CreateAreaChart { text-align:left; padding:10px; height:42px; border:6px solid #9e9500; border-width:1px 1px 1px 6px; background-color:#FFF; }
.watermark { color: #346; }
.search_box { border:1px solid #b8b8b8; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; padding: 2px 6px; width:280px; float:right; }
.summary_bar { width:700px; padding:0 0 0 20px; float:left}
.search_input { width: 240px; height: 21px; margin: 1px; border: 0px; outline: none; font-size: 15px; color: #346; }

.QuoteList { border-bottom:1px solid #b8b8b8; padding:4px 7px; }
.StepIcon { background:url(images/BtnGif.gif) 0 5px no-repeat; padding-left:17px !important; }
.StepIconForBig { background:url(images/BtnGif.gif) 0px 7px no-repeat; padding-left:17px !important; }

.TitleFont{font-family:verdana, Arial, Geneva, sans-serif; font-size:11px;}
/*********************/
/** jRating CSS **/
/*********************/

/**Div containing the color of the stars */
.jRatingAverage {
	/**background-color:#f62929;*/
	/**background-color:#f4c239;*/
	background-color:#9BBB59;
	position:relative;
	top:0;
	left:0;
	z-index:2;
	height:100%;
}
.jRatingColor {
	background-color:#9BBB59; /* bgcolor of the stars*/
	position:relative;
	top:0;
	left:0;
	z-index:2;
	height:100%;
}

/** Div containing the stars **/
.jStar {
	position:relative;
	left:0;
	z-index:3;
}

/** P containing the rate informations **/
p.jRatingInfos {
	position:		absolute;
	z-index:9999;
	background:	transparent url('Images/bg_jRatingInfos.png') no-repeat;
	color:			#FFF;
	display:		none;
	width:			91px;
	height:			29px;	
	font-size:16px;
	text-align:center;
	padding-top:5px;
}
	p.jRatingInfos span.maxRate {
		/*color:#c9c9c9;*/
		color:#9BBB59;
		font-size:14px;
	}
.errorStyle { background: url('images/spot.png') -1px 3px no-repeat !important; margin-left:10px}
.readonly{color: #999;}

.borderRightRed { border-right:3px solid #ff0000 !important; }
.StatusImg { margin-bottom:0px; }
.StatusImg:hover { cursor:pointer; }


.tblUpload { border:solid 1px #dbdbdb; border-width:0 0 1px 1px; table-layout:fixed; text-align:left; margin:0 auto; width:100%; }
.tblUpload th{ text-align:center; border:solid 1px #dbdbdb; border-width:1px 1px 0 0; background-color:#f4f4f4; padding:3px;}
.tblUpload td{ text-align:left; border:solid 1px #dbdbdb; border-width:1px 1px 0 0; word-wrap:break-word; padding:1px 3px; vertical-align:middle; }

.tblUpload .Partner{ text-align:center; border:solid 1px #dbdbdb; border-width:1px 1px 0 0; background-color:#f4f4f4; padding:3px;}

.DownLoadFile { background:url(Img/Document_Download.png) top left no-repeat; cursor: pointer; padding:0px 17px 12px 0; border:0; text-decoration:none; display:block; float:left; }
.DeleteLoadFile { background:url(Img/Document_Delete.png) top left no-repeat; cursor: pointer; padding:0px 17px 12px 0; border:0; text-decoration:none; display:block; float:left; }
/*Peter Sun add menu*/
.menu_master {
	border:1px solid #ccc;
	padding:5px 10px;
	margin-bottom:2px;
	cursor:pointer;
	font-weight:bold;
	color:#666;
}
.sub_menu { display:none; }
.sub_menu, .sub_menu li {
	margin:0 0 0 4px;
	padding:0;
	list-style:none;
}
.sub_menu ul li a {
	margin:0 0 3px 10px;
	padding:1px 0 2px 25px;
	display:block;
	height:18px;
	border-bottom:1px solid #eee;
	color:#000;
	text-decoration:none;
}
/*Release Note*/
.ReleaseNote
{
    font: "ProximaNova", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 13px;
    line-height :24px;
    padding:20px 0 0 30px
}
.ExportInv { font-size:12px; line-height:160%; color:#FFF; }
.InitialTbl { width:100%; }
.InitialTbl td { text-align: left; padding-left:0px; }
.ErrorRedFlag{ background:url(/Content/images/ErrorRed.png) top left no-repeat;}

.btnChart { color:#0000cc; background:url(images/Diagram.png) 0 0 no-repeat; border:0;  width:35px; height:32px; padding:16px; font-size:12px; outline:none; }
.btnChart:hover { background:url(images/Diagram_hover.png) top left no-repeat; cursor:pointer; text-decoration:none; }

.ListAddMessage { background:url("Images/Message-Add2.png") no-repeat center center !important; padding: 3px 0 3px 38px; text-align:center; color:White; font-size:9px; }


.li_icon_c { background: url(Images/icon.png) top right no-repeat;  width:18px; height:18px; display:block; float:left; margin-top:2px; margin-right:5px;}

.TimeZoneUi-icon
 {
       background-position: -108px 0; 
        text-transform:uppercase;
        letter-spacing:45in;
        
 }
 
 .PasteZone
 {
      border: 1px solid black;
      padding: 1em;
       background-color:White;
       min-height:80px;
       width:180px;
        float:left;
        display:block;
}

.CaptureScreen{background:url(Images/capturescreen.png) top left no-repeat; width:18px; height:16px; cursor:pointer; display:block; text-decoration:none;float:left; margin-top: 62px; margin-left:-26px;}
.CaptureScreen:hover {background:url(Images/capturescreen.png) top left no-repeat; margin-top:61px;}

.ZoneLoading {background:url(Images/load.gif) top left no-repeat;}


.MobileSignIn { color:#607385; font-size:18px; padding:10px; margin:0 auto; text-align:left; }


.Permission{background:url(Images/Permission_hover.png) top left no-repeat; width:100px; height:120px; cursor:pointer; display:block; text-decoration:none;float:left; margin-top: 62px; margin-left:26px;}
.Permission:hover {background:url(Images/Permission.png) top left no-repeat; margin-top:61px;}


.Profile{background:url(Images/Profile_hover.png) top left no-repeat; width:100px; height:120px; cursor:pointer; display:block; text-decoration:none;float:left; margin-top: 62px; margin-left:26px;}
.Profile:hover {background:url(Images/Profile.png) top left no-repeat; margin-top:61px;}

.AddValidateForTextBox{border:1px dotted red;}

.tq-validate.ng-invalid {background-color: #FA787E;}