@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}

/* flexslider */
.flexslider{position:relative;height:588px;overflow:hidden;background:url(images/loading.gif) 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{height:588px;}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center; display:none}/*...*/
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(../images/dot.png) right 0 no-repeat;cursor:pointer;  text-indent:-99em}
.flex-control-nav .flex-active{background-position:0 0;}
.flexslider img{ max-width:none; display:block; margin:0 auto}
.flexslider a{ display:block; width:100%;height:588px;}
.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute; text-indent:-99em}
.flex-direction-nav li a.flex-prev{left:40px;background:url(images/prev.png) center center no-repeat;}
.flex-direction-nav li a.flex-next{right:40px;background:url(images/next.png) center center no-repeat;}

.flexslider2{position:relative;height:337px; width:530px;overflow:hidden;background:url(images/loading.gif) 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{height:588px;}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center; display:none}/*...*/
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(images/dot.png) right 0 no-repeat;cursor:pointer;  text-indent:-99em}
.flex-control-nav .flex-active{background-position:0 0;}
.flexslider img{ max-width:none; display:block; margin:0 auto}
.flexslider a{ display:block; width:100%;height:588px;}
.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.flex-direction-nav li a{display:block;width:41px;height:44px;overflow:hidden;cursor:pointer;position:absolute; text-indent:-99em}
.flexslider2 .flex-direction-nav li a.flex-prev{left:0px;background:url(images/prev2.png) center center no-repeat;}
.flexslider2 .flex-direction-nav li a.flex-next{right:0px;background:url(images/next2.png) center center no-repeat;}

.flexslider3{position:relative;height:210px; width:530px;overflow:hidden;background:url(images/loading.gif) 50% no-repeat; float:left}
.flexslider3 .slides{position:relative;z-index:1;}
.flexslider3 .slides li{height:210px}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center; display:none}/*...*/
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(images/dot.png) right 0 no-repeat;cursor:pointer;  text-indent:-99em}
.flex-control-nav .flex-active{background-position:0 0;}
.flexslider3 img{ max-width:none; display:block; margin:0 auto}
.flexslider3 a{ display:block; width:100%;height:588px;}
.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.flex-direction-nav li a{display:block;width:41px;height:44px;overflow:hidden;cursor:pointer;position:absolute; text-indent:-99em}
.flexslider3 .flex-direction-nav li a.flex-prev{left:0px;background:url(images/prev2.png) center center no-repeat;}
.flexslider3 .flex-direction-nav li a.flex-next{right:0px;background:url(images/next2.png) center center no-repeat;}

.flexslider4{position:relative;height:95px; width:530px;overflow:hidden; float:left} /*background:url(images/loading.gif) 50% no-repeat;*/
.flexslider4 .slides{position:relative;z-index:1;}
.flexslider4 .slides li{height:82px}

.flexslider4 img{ max-width:none; display:block; margin:0 auto}
.flexslider4 a{ display:block; width:100%;height:85px;}
.flexslider4 .flex-direction-nav{position:absolute;z-index:3;width:100%;top:30%;}
.flexslider4 .flex-direction-nav li a{display:block;width:31px;height:26px;overflow:hidden;cursor:pointer;position:absolute; text-indent:-99em}
.flexslider4 .flex-direction-nav li a.flex-prev{left:0px;background:url(images/prev2.png) center center no-repeat;}
.flexslider4 .flex-direction-nav li a.flex-next{right:0px;background:url(images/next2.png) center center no-repeat;}

.modal-header button { display:block; float:right; border:0; background:none; }
.modal-header h3 { display:block; float:left; color:#999; }
.loginTBox { border:1px solid #DDDDDD; padding:12px 10px 12px 10px; width:260px; display:block; margin-bottom:10px; color:#808080 }
.SinInBtn { display:block;height:48px;font-size:16px;font-weight:bold;cursor:pointer;color:#fff;background:#3F89EC;border-radius:3px;border:none;-moz-border-radius:3px;-webkit-border-radius:3px;transition:.3s;-moz-transition:.3s;-o-transition:.3s;-webkit-transition:.3s; display:block; width:280px }