<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<configSections>
		<section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere"/>
		<section name="cacheDiagnostics" type="Microsoft.ApplicationServer.Caching.AzureCommon.DiagnosticsConfigurationSection, Microsoft.ApplicationServer.Caching.AzureCommon" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>--> 
  <connectionStrings>
    <!--<add name="DC" connectionString="Server=tcp:g6uoqz9m2m.database.windows.net,1433;Database=ocztest;User ID=t2vsoft@g6uoqz9m2m;Password=Dcm!@#$%;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" providerName="System.Data.SqlClient" />-->
    <!--<add name="DC" connectionString="data source=t2vdevelopment.cloudapp.net;user id = sa; password =t2vsoft!@#$% ;database = RMAForCHIRP; Connect Timeout=0" providerName="System.Data.SqlClient" />-->
    <add name="DC" connectionString="data source=127.0.0.1;Database=listenwind; uid=root;pwd=root;" providerName="MySql.Data.MySqlClient" />
    <!--<add name="DC" connectionString="data source=168.62.201.235;user id = sa; password =t2vsoft!@#$% ;database = RMAForCHIRP; Connect Timeout=0" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ImportPDFDataPath" value="~\DownLoadData\PDF\" />
    <add key="ImportPDFOCZLogo" value="~\Content\images\HDS-Small.jpg" />
    <add key="SubjectInfoCacheName" value="SubjectInfo" />
    <add key="DWQProjectId" value="1" />
    <add key="SessionNameSubjectSearchArg" value="SubjectSearchArg" />
    <add key="RefreshCache" value="2" />
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DownLoadVirtualPath" value="~\DownLoadData\" />
    <add key="ZipBufferLength" value="40000000" />
    <add key="UpLoadPath" value="~\UploadImg\" />
    <add key="ClaimUploadPath" value="~\DownLoadData\ClaimUploadFile\" />
    <add key="PartnerUploadPath" value="~\DownLoadData\PartnerUploadPath\" />
    <add key="POSUploadPath" value="~\DownLoadData\POSUploadPath\" />
    <add key="csv_con" value="Provider=MICROSOFT.JET.OLEDB.4.0;Extended Properties=Text;DATA SOURCE=" />
    
    <add key="ShildQuote" value="1" />
    <add key="EnvType" value="Test" />
    <add key="AzureBlobStorage" value="DefaultEndpointsProtocol=https;AccountName=hdsfilesfortest;AccountKey=Hr5kD/OO6QXs4pXYvWywIM3I3Ppca5wd/Jqr5kYGsPhvJ7qv7DJ1Ro63Hzqa6PXvoq7x8h00UGTLxB+KwpDqdw==" />
    <!--Mail configuration-->
    <add key="HostName" value="smtp.sohu.com" />
    <add key="Port" value="25" />
    <add key="usessl" value="true" />
    <add key="username" value="listenwind2015@sohu.com" /> 
    <add key="password" value="lw!@#$%" />
    <add key="mailaddress" value="listenwind2015@sohu.com" />
    <add key="SendPort" value="25" />

    <add key="Key" value="TRq40SfrYZfodQZpIMzN" />
    <add key="KeySecret" value="r5u6vnnRfGvQSPAgqur9jpYNolW79exdxbwRs6Nd" />
    <add key="Token" value="iShCIZOxIgYGGiKLJjnQ" />
    <add key="TokenSecret" value="uGYvzksbFEbJvDypqqRy1GmFusQmb9JpTTptSZo7" />

    <add key="InnerSyncKey" value="AEA19E11-2663-4A0F-8FF5-CABF228C0CD8" />
    <!--Here is the key for swtich to use realtime update or history update for accrual report "RealTime/History"-->
    <add key="AccrualSwitch" value="History" />
    <!--upload image path:1.local;2.test;3.production-->
    <add key="UploadImageType" value="local" />
    <!--RMA Base-->
    <add key="RMAInPath" value="~\DownLoadData\RMA\in\" />
  </appSettings>
  <location path="ASPX">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="SalesDocuments">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="SalesPOS">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="PriceBook">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Partner">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="MassUpdate">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Inventory">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--<sessionState mode="Custom" customProvider="AFCacheSessionStateProvider">
			<providers>
				<add name="AFCacheSessionStateProvider"
				  type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider,Microsoft.Web.DistributedCache"
				  cacheName="default"
				  dataCacheClientName="default"/>
			</providers>
		</sessionState>-->
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <customErrors mode="Off"></customErrors>
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.4.0" newVersion="6.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<dataCacheClients>
		<dataCacheClient name="default">
			<autoDiscover isEnabled="true" identifier="Web" />
			<localCache isEnabled="true" sync="TimeoutBased" objectCount="100000" ttlValue="300" />
		</dataCacheClient>
	</dataCacheClients>
	<cacheDiagnostics>
		<crashDump dumpLevel="Off" dumpStorageQuotaInMB="100" />
	</cacheDiagnostics>-->


</configuration>